{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}

<div class="container admin">

    <h2>Jury / <a href="{{ path('jury_index') }}">retour à la liste </a> /  <a href="{{ path('jury_edit', { 'id': jury.id }) }}">éditer</a></h2>

    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Entreprise</th>
                    <th>Mail</th>
                    <th>Action</th>
                </tr>
              <tr>
                  <td>{{ jury.nom }}</td>
                    <td>{{ jury.prenom }}</td>
                    <td>{{ jury.entreprise }}</td>
                    <td>{{ jury.mail }}</td>
                    <td>{{ form_start(delete_form) }}
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        {{ form_end(delete_form) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
