{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/backIndexStyle.css') }}">
{% endblock %}

{% block content %}

   <h2 class="titreAdminIndex text-center">Bienvenue sur votre page d'administration</h2>


    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a class="linkNavAdmin fa fa-user-plus fa-1x" href="#candidat" data-toggle="tab">Candidats</a></li>
            <li><a class="linkNavAdmin fa fa-user-plus fa-1x" href="#jury" data-toggle="tab">Jury</a></li>
            <li><a class="linkNavAdmin fa fa-users fa-1x" href="#promotion" data-toggle="tab">Promotion</a></li>
            <li><a class="linkNavAdmin fa fa-calendar fa-1x" href="#agenda" data-toggle="tab">Agenda</a></li>
            <li><a class="linkNavAdmin fa fa-rss fa-1x" href="#blog" data-toggle="tab">Blog</a></li>
            <li><a class="linkNavAdmin fa fa-newspaper-o fa-1x" href="#rpresse" data-toggle="tab">Revue de Presse</a></li>
            <li><a class="linkNavAdmin fa fa-truck fa-1x" href="#partenaire" data-toggle="tab">Partenaire</a></li>
            <li><a class="linkNavAdmin fa fa-sign-out fa-1x" href="{{ path('index') }}">Retour au site</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="candidat
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('candidat_index') }}">Voir la liste des candidats</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('candidat_new') }}">Créer un nouveau candidat</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="jury">
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('jury_index') }}">Voir la liste des jurés</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('fos_user_registration_register') }}">Créer un nouveau juré</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="promotion">
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('promotion_index') }}">Voir la liste des promotions</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('promotion_new') }}">Créer une nouvelle promotion</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="agenda">
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('agenda_evenement_index') }}">Voir l'agenda</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('agenda_evenement_new') }}">Créer un nouvel évènement</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="blog">
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('article_index') }}">Voir la liste des articles</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('article_new') }}">Créer un nouvel article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="rpresse">
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('rpresse_index') }}">Voir la liste des revues de presse</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('rpresse_new') }}">Créer une nouvelle revue de presse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="partenaire">
                <div class="container">
                    <div class="row text-center marginBack">
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('partenaire_index') }}">Voir la liste des partenaires</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="linkNavAdmin" href="{{ path('partenaire_new') }}">Créer un nouveau partenaire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}