{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/backJuryStyle.css') }}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6 text-center lienjury">
            <a  href="{{ path('partenaire_new') }}">{{ 'Créer son profil partenaire'| trans }}</a>
        </div>
        <div class="col-md-6 text-center lienjury">
            <a  href="{{ path('index') }}">{{ 'Retour au site'| trans }}</a>
        </div>
    </div>
{% endblock %}