{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/backHeaderStyle.css') }}">
{% endblock %}

{% block header %}

    <label for="show-menu" class="show-menu">Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul class="navbar" id="menu">
        <div class="hidden-xs">
            <h3>Bienvenue sur votre page d'administration</h3>
            <img src="{{ asset('images/CORPO35_LOGOTYPE.png') }}" class="img-responsive center-block logoHeader" alt="Logo Corpo35">
        </div>
        <li class="navitem"><a href="{{ path('candidat_index') }}">Candidats</a></li>
        <li class="navitem "><a href="{{ path('promotion_index') }}">Promotions</a></li>
        <li class="navitem"><a href="{{ path('jury_index') }}">Jury</a></li>
        <li class="navitem"><a href="{{ path('partenaire_index') }}">Partenaires</a></li>
        <li class="navitem"><a href="#agenda">Agenda</a></li>
        <li class="navitem"><a href="{{ path('article_index') }}">Blog</a></li>
        <li class="navitem"><a href="{{ path('rpresse_index') }}">Revue de Presse</a></li>
        <li class="navitem home"><a href="{{ path('index') }}">Retour au site</a></li>
    </ul>




    {#<div class="col-md-12">#}
        {#<h4>Agenda Evenements</h4>#}
        {#<div class="col-md-6">#}
            {#<a class="linkNavAdmin" href="{{ path('agenda_evenement_index') }}">Voir l'agenda</a>#}
        {#</div>#}
        {#<div class="col-md-6">#}
            {#<a class="linkNavAdmin" href="{{ path('agenda_evenement_new') }}">Créer un nouvel évènement</a>#}
        {#</div>#}
    {#</div>#}
    {#<div class="col-md-12">#}
        {#<h4>Agenda Laboratoire</h4>#}
        {#<div class="col-md-6">#}
            {#<a class="linkNavAdmin" href="{{ path('agenda_labo_index') }}">Voir l'agenda</a>#}
        {#</div>#}
        {#<div class="col-md-6">#}
            {#<a class="linkNavAdmin" href="{{ path('agenda_labo_new') }}">Créer un nouvel évènement</a>#}
        {#</div>#}
    {#</div>#}


{% endblock %}
