{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire creation</h1>

    {{ form_start(form) }}
        <p>{{ form_row(form.date) }}</p>
        <p>{{ form_row(form.auteur) }}</p>
        <p>{{ form_row(form.commentaire) }}</p>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commentaire_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}



