{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blog_style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <h1 class="title_actu"><i class="fa fa-pagelines pagelines_title" aria-hidden="true"></i> Notre actu</h1>

        {% for article in articles %}
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <picture>
                            <img class="img-responsive img-article" src="{{ asset('upload/' ~  article.photo )}}">
                        </picture>
                    </div>
                    <div class="col-md-6">
                        <div class="card--info">
                            <h3 class="category">{{ article.date | localizeddate('full', 'none', app.request.attributes.get('_locale') ) }}</h3>

                            <h2 class="title">
                                {{ article.titre }}
                            </h2>
                            <p class="teaser">
                                {{ article.contenu | truncate(150, true, "...")}}
                            </p>
                            <a href="{{ path('new-comment', {'id':article.id}) }}" class="button">
                                Lire Plus...
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

           <p class="text-center"> <a href="{{ path('blog', {'limit':'all'}) }}">Anciens Posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>

    </div>
{% endblock %}








