{% extends 'FrontBundle:Default:index.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/blog_style.css') }}">
{% endblock %}

{% block content %}

    <div class='container'>
        <h1><i class="fa fa-pagelines pagelines_title" aria-hidden="true"></i> Notre actu</h1>
        {% for article in listArticles %}
            <div class='blog-posts'>
                <div class='post featured'>
                    <a href="{{ path('new-comment', {'id':article.id}) }}">
                        <div class='image'><img class="img-responsive img-article" src="{{ asset('upload/' ~  article.photo )}}">
                            <div class="hidden-xs hidden-sm hidden-md hidden-lg">
                            <p class='date'>{% if article.date %}{{ article.date|date('d-m-Y') }}{% endif %}</p>
                            </div>
                        </div>

                        <div class='content'>
                            <h3>{{ article.titre }}</h3>
                            <p>{{ article.contenu | truncate(100, true, "...")}}</p>
                            <div class='meta'>
                                <div class='icon-comment'><i class="fa fa-comment-o" aria-hidden="true"></i> 22 Comments</div>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        {% endfor %}
        <p class="text-right"><a href="{{ path('blog') }}" class="button"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Récents Posts</a></p>

    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}

{% block JS %}

    <script>


    </script>

{% endblock %}
