{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pageArticle_style.css') }}">
{% endblock %}

{% block content %}
        {% form_theme form'bootstrap_3_layout.html.twig' %}
        <div class="container card">
                <div class="row card">
                        <div class="col-md-10 image">
                                <img class="img-responsive" src="{{ asset('upload/' ~  article.photo )}}">
                        </div>
                        <div class="col-md-2 top-matter">
                                <div class="title">
                                        <h1><span>{{ article.titre }}</span></h1>
                                </div>
                                <div class="intro">
                                        <p>Le {{ article.date | localizeddate('full', 'none', app.request.attributes.get('_locale') ) }} par {{ article.auteur }}</p>
                                </div>
                        </div>
                </div>
            </div>
        </div>

        <section class="container">
            <h3>Commentaires <i class="fa fa-comment-o" aria-hidden="true"></i></h3>
            <div class="special-text">
                {% for  commentaire in comments %}
                    <blockquote class="wrapper maxheight">
                        <p class="first">{{ commentaire.commentaire}}
                            <footer class="blockquote-footer">Posté par <cite title="Source Title">{{ commentaire.auteur}}</cite><span class="text-right"> le {{ commentaire.date|date('d/m/Y à H:i') }}</span></footer>
                        </p>
                    </blockquote>
                {% endfor %}
            </div>
            <button class="expand-button">
                <i class="fa fa-chevron-down fa-3x fa-arrow-down" aria-hidden="true"></i>
            </button>
            {#<i class="fa fa-chevron-up" aria-hidden="true"></i>#}

        </section>
        <div class="container post-article">
                <div class="well">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input class="btn btn-lg btn-default" type="submit" value="Poster" />
                        {{ form_end(form) }}
                </div>
        </div>
        <div class="container retour">
                <div class="col-md-12">
                    <a href="{{ path('blog') }}" class="arrow-long">Retour <i class="fa fa-long-arrow-right fa-long-arrow-down" aria-hidden="true"></i></a>
                </div>
        </div>

        <script>
                $('.wrapper').removeClass('maxheight');

                $('button').click(function() {
                        $(this).animate({
                                top: '-10px'
                        }, 150, 'easeInOutCubic');
                        $(this).animate({
                                top: '10px'
                        }, 150, 'easeInOutCubic', function() {
                                $(this).toggleClass('readless');
                                $(this).parent().children('.read').children('.wrapper').children('.background').toggle();
                                $(this).parent().children('.read').children('.wrapper').toggleClass('maxheight');

                                if ($(this).hasClass('readless')) {
                                        $(this).text("Lire moins (-)");
                                        $(this).css('color', 'maroon');
                                } else {
                                        $(this).text("Voir plus (+)");
                                        $(this).css('color', 'green');
                                };
                        });


                });


                $('.expand-button').on('click', function(){
                    $('.special-text').toggleClass('-expanded');

//                    if ($('.special-text').hasClass('-expanded')) {
//                        $('.expand-button').html('Collapse Content');
//                    } else {
//                        $('.expand-button').html('Continue Reading');
//                    }
                });
        </script>


{% endblock %}








