{% extends 'FrontBundle:Default:index.html.twig' %}
    {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/pageArticle_style.css') }}">
    {% endblock %}

{% block content %}
        {% form_theme form'bootstrap_3_layout.html.twig' %}
        <div class="container card">
                <div class="row">
                        <div class="col-md-10 image">
                                <img class="img-responsive" src="{{ asset('upload/' ~  article.photo )}}">
                        </div>
                        <div class="col-md-2 top-matter">
                                <div class="title">
                                        <h1><span>{{ article.titre }}</span></h1>
                                </div>
                                <div class="intro">
                                        <p>Le {% if article.date %}{{ article.date|date('d-m-Y') }}{% endif %} par {{ article.auteur }}</p>
                                </div>
                        </div>
                </div>
        </div>
        <div class="container">
                <div class="article-container">
                        <p>{{ article.contenu }}</p>
                </div>
        </div>
        <div class="container">
        {% for  commentaire in article.commentaires %}
                <blockquote class="blockquote">
                        <div class="col-md-8">
                                <p class="mb-0">{{ commentaire.commentaire}}</p>
                        </div>
                        <div class="col-md-4">
                                <footer class="blockquote-footer">Posté par <cite title="Source Title">{{ commentaire.auteur}}</cite><span class="text-right"> le {{ commentaire.date|date('d/m/Y') }}</span></footer>
                        </div>
                </blockquote>
        {% endfor %}

        <div class="well">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-lg btn-default" type="submit" value="Poster" />
                {{ form_end(form) }}
        </div>
        </div>
        <div class="container post-article">
                <div class="row">
                        <div class="col-md-6">
                                <a href="{{ path('blog') }}" class="text-left button"><i class="fa fa-long-arrow-left" aria-hidden="true"> page précédente</i></a>
                        </div>
                        <div class="col-md-6 hidden-xs">
                                <a href="{{ path('blog') }}" class="text-right button">Retour <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                </div>
        </div>

        <script>
                $('.expand-button').on('click', function(){
                        $('.special-text').toggleClass('-expanded');

                });
        </script>
{% endblock %}

{% block JS %}
        {{ parent() }}

{% endblock %}





