{% for commentaire in listCommentaires %}
<div class="row">

    <div class="col-md-4">
        <p>{% if commentaire.date %}{{ commentaire.date|date('Y-m-d') }}{% endif %} par {{ commentaire.auteur }}</p>
    </div>
    <div class="col-md-8">
        <p>{{ commentaire.commentaire }}</p>
      </div>

</div>
{% endfor %}



{% for  commentaire in article.commentaires %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">#{{ loop.index }} - par {{ commentaire.auteur}} <span class="text-right">{{ commentaire.date }}</span></h3>
        </div>
        <div class="panel-body">
            {{ commentaire.commentaire}}
        </div>
    </div>
{% endfor %}
