{% extends 'FrontBundle:Default:index.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/listCandidatStyle.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="text-center">Liste des candidats</h2>
        </div>
        {% if is_granted ('ROLE_ADMIN') %}
        <div class="row">
            <a href="{{ path('backIndex') }}" class="linkBackListcandidat">Retour à l'accueil</a>
            {% else %}
                <p><a href="{{ path('backJury') }}">Retour à l'accueil</a></p>
         </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for candidat in candidats %}
            <a href="{{ path('candidat_show', { 'id': candidat.id }) }}" class="linkCandidat">
                <div class="col-xs-offset-1 col-xs-3 blockCandidat">
                    <h3 class="text-center">{{ candidat.nom }} {{ candidat.prenom }}</h3>
                    <p><img src="{{ asset('upload/' ~ candidat.photo) }}" class="img-responsive photoCandidat center-block"></p>
                    <div class="well">
                        <p class="text-center">Candidat validé: {% if candidat.decision %}Yes{% else %}No{% endif %}</p>
                        {% if is_granted ('ROLE_ADMIN') %}
                            {% set totalNote = 0  %}
                            {% for vote in candidat.votes %}
                                {% set totalNote = totalNote + vote.note %}
                            {% endfor %}
                            <p class="text-center">Total des notes: {{ totalNote }}</p>
                            {% if candidat.classement != null %}
                                {% if candidat.classement == 1 %}
                                    <p class="text-center">Classement du candidat: <br/>{{ candidat.classement }}er</p>
                                {% else %}
                                    <p class="text-center">Classement du candidat: <br/>{{ candidat.classement }}ème</p>
                                {% endif %}
                            {% else %}
                                <p class="text-center">Classement du candidat: <br/>Pas encore de classement pour ce candidat</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <p>{{ candidat.numrue }} {{ candidat.adresse }} {{ candidat.ville }} {{ candidat.cp }}</p>
                    <p>{{ candidat.mail }}</p>
                    <p>{{ candidat.tel }}</p>
                    <p>{{ candidat.blog }}</p>
                    <p>{{ candidat.presentation |truncate(50, true,'...')}}</p>
                    <p>{{ candidat.motivation |truncate(50, true,'...')}}</p>
                    <p>{{ candidat.formation }}</p>
                    <p>{{ candidat.competence }}</p>
                    <p>{{ candidat.profession }}</p>
                    {% if candidat.promotion.year is defined %}
                        <p>{{ candidat.promotion.year }}</p>
                    {% endif %}
                    <p>
                        {% if is_granted ('ROLE_ADMIN') %}
                            <a href="{{ path('recandidatenavant' , { 'id': candidat.id }) }}"> Mettre en avant le candidat</a>
                        {% endif %}
                    </p>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
