{% extends 'base.html.twig' %}

{% block body %}
    <h1>Candidats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numrue</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Formation</th>
                <th>Profession</th>
                <th>Presentation</th>
                <th>Mail</th>
                <th>Decision</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td><a href="{{ path('candidat_show', { 'id': candidat.id }) }}">{{ candidat.id }}</a></td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.numrue }}</td>
                <td>{{ candidat.adresse }}</td>
                <td>{{ candidat.ville }}</td>
                <td>{{ candidat.cp }}</td>
                <td>{{ candidat.formation }}</td>
                <td>{{ candidat.profession }}</td>
                <td>{{ candidat.presentation }}</td>
                <td>{{ candidat.mail }}</td>
                <td>{% if candidat.decision %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('candidat_show', { 'id': candidat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('candidat_new') }}">Create a new candidat</a>
        </li>
    </ul>
{% endblock %}
