{% extends 'FrontBundle:Default:index.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/inscriptionStyle.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center">
            <h2> {{ 'Bienvenue sur la page d\'inscription au concours Corpo35'| trans }}</h2>
            <p>  <a href="{{ path('reglement') }}" target="_blank">{{ 'Le règlement du concours'| trans }}</a> {{ 'est à télécharger, signer et à nous renvoyer'| trans }}.</p>
            <p> {{ 'L\'inscription au concours peut prendre 10 à 15 minutes et nécessite de télécharger quelques documents comme une photo, un cv etc...'| trans }}<br/>
                 {{ 'Vérifiez bien que vous avez ces documents avec vous avant de commencer l\'inscription'| trans }}.</p>
            <p> {{ 'Les champs avec un * sont obligatoires'| trans }}</p>
            <p class="hidden-lg hidden-md">{{ 'L\'inscription au concours nécessite le téléchargement de documents'| trans }}.<br/> {{ 'Veuillez passez sur la version PC du site'| trans }}.</p>
        </div>
    </div>
    {% if is_granted ('ROLE_CANDIDAT') %}
    <div class="container hidden-xs hidden-sm">
                {{ form_start(form) }}
                <div class="form-group">
                    <h3 class="text-center titreForm"> {{ 'Informations générales'| trans }}</h3>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.nom, 'Nom*'| trans) }}
                        {{ form_widget(form.nom , { 'attr': {   'placeholder': 'Votre nom ici'|trans} }) }} </div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.prenom, 'Prénom*'| trans) }}
                        {{ form_widget(form.prenom , { 'attr': { 'placeholder': 'Votre prénom ici'|trans} }) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.date_naissance, 'Date de naissance*'| trans) }}
                        {{ form_widget(form.date_naissance) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_row(form.photo) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.cv, 'CV (au format PDF)*'| trans) }}
                        {{ form_widget(form.cv )   }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.numrue, 'Numéro de rue*'| trans) }}
                        {{ form_widget(form.numrue , { 'attr': {   'placeholder': 'Votre numéro de rue ici'|trans} } ) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.adresse, 'Adresse*'| trans) }}
                        {{ form_widget(form.adresse  , { 'attr': { 'placeholder': 'Votre adresse ici'|trans  } }) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.ville, 'Ville*'| trans) }}
                        {{ form_widget(form.ville , { 'attr': {'placeholder': 'Votre ville ici'|trans  } }) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.cp, 'Code postal*'| trans) }}
                        {{ form_widget(form.cp , { 'attr': {'placeholder': 'Votre code postal'|trans  } }) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.tel, 'Téléphone*'| trans) }}
                        {{ form_widget(form.tel , { 'attr': {'placeholder': 'Votre numéro de téléphone ici'|trans  } }) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_row(form.mail) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.presentation, 'Présentation générale*'| trans) }}
                        {{ form_widget(form.presentation) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.blog, 'Blog/site personnel ou autres'| trans) }}
                        {{ form_widget(form.blog) }}</div>
                    <hr class="separe">
                    <h3 class="text-center titreForm"> {{ 'Informations concernant le concours'| trans }}</h3>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.motivation, 'Vos motivations pour le concours*'| trans) }}
                        {{ form_widget(form.motivation) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.profession, 'Profession* (ou étudiant le cas échéant)'| trans) }}
                        {{ form_widget(form.profession) }}</div>
                    <hr class="separe">
                    <div class="form">{{ form_row(form.formation) }}</div>
                    <hr class="separe">
                    <div class="form">
                        {{ form_label(form.competence, 'Autres formations et compétences'| trans) }}
                        {{ form_widget(form.competence,  { 'attr': {'placeholder': 'Autres formations'|trans  } }) }}</div>
                    <hr class="separe">
                    <div class="form">{{ form_row(form.promotion, { 'attr' : { 'style':'display:none'}}) }}</div>
                    {#<hr class="separe">#}
                    {#{% for registration in form.fos_user %}#}
                        {#{{ form_start(formRegistration) }}#}
                        {#{{ form_row(form.fos_user) }}#}
                        {#{{ form_end }}#}
                    {#{% endfor %}#}
                    <div class="form">{{ form_row(form.promotion) }}</div>
                    <hr class="separe">
                    {% for document in form.documents %}
                        <h3 class="text-center titreForm">Documents</h3>
                        <p class="text-center">
                            {{ 'Vous pouvez telecharger des documents qui vous ont inspiré pour votre création.'| trans }}<br/>
                            {{ 'Les types de documents supportés sont "image", "vidéo", "musique" ou "pdf"'| trans }}.<br/>
                            <span class="attention"> {{ 'Attention les documents ne peuvent pas dépasser 2MB'| trans }}</span>.<br/>
                             {{ 'Vous pouvez également ajouter un lien vers un site externe'| trans }}.
                        </p>
                        <hr class="separe">
                        <ul class="documents" data-prototype="{{ form_widget(form.documents.vars.prototype)|e('html_attr') }}">
                            <div class="form"><li>
                                    {{ form_label(document.type, 'Type de documents'| trans) }}
                                    {{ form_widget(document.type) }}</li></div>
                            <hr class="separe">
                            <div class="form"><li>
                                    {{ form_label(document.contenu, 'Contenu'| trans) }}
                                    {{ form_widget(document.contenu) }}</li></div>
                            <hr class="separe">
                            <div class="form"><li> {{ 'Et/ou'| trans }}</li></div>
                            <hr class="separe">
                            <div class="form"><li>
                                    {{ form_label(document.lien, 'Lien externe'| trans) }}
                                    {{ form_widget(document.lien, { 'attr': {'label': ''| trans } }) }}</li></div>
                            <hr class="separe">
                        </ul>
                    {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="submit" value=" {{ 'Créer'| trans }}" class="btn-success btn-lg center-block"/>
                        </div>
                        <div class="col-xs-6">
                            <a href="{{ path('index') }}">
                            <input type="button" class="btn-danger btn-lg center-block" value="{{ 'Retour'| trans }}">
                            </a>
                        </div>
                    </div>
                {{ form_end(form) }}
        <script>
            var $collectionHolder;

            // setup an "add a tag" link
            var $addDocumentLink = $('<div class="form"><a href="#" class="add_document_link">{{ 'Ajouter un document'| trans }}</a></div>');
            var $newDocumentLi = $('<li></li>').append($addDocumentLink);


            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.documents');

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newDocumentLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $addDocumentLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // add a new tag form (see next code block)
                    addDocumentForm($collectionHolder, $newDocumentLi);
                });
            });

            function addDocumentForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addDocumentFormDeleteLink($newFormLi);
            }

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.documents');

                // add a delete link to all of the existing tag form li elements
                $collectionHolder.find('li').each(function() {
                    adddocumentFormDeleteLink($(this));
                });

                // ... the rest of the block from above
            });

            function addDocumentFormDeleteLink($documentFormLi) {
                var $removeFormA = $('<div class="form"><a href="#">Supprimer un document</a></div>');
                $documentFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $documentFormLi.remove();
                });
            }
        </script>
    </div>
    {% else %}
        <a href="{{ path('fos_user_registration_register') }}" class="text-center">Merci de vous créer un compte avant de vous inscrire au concours</a>
    {% endif %}

{% endblock %}