{% extends 'FrontBundle:Default:index.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/inscriptionStyle.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center">
            <h2>Bienvenue sur la page d'inscription au concours Corpo35</h2>
            <p> le <a href="{{ path('reglement') }}" target="_blank">règlement du concours</a> est à télécharger, signer et à nous renvoyer</p>
            <p class="hidden-lg hidden-md">L'inscription au concours nécessite le téléchargement de documents.<br/> Veuillez passez sur la version PC du site.</p>
        </div>
    </div>
    <div class="container hidden-xs hidden-sm">
            <div class="well">
                {{ form_start(form) }}
                    <h3 class="text-center titreForm">Informations générales</h3>
                    <div class="form">{{ form_row(form.nom) }}</div>
                    <div class="form">{{ form_row(form.prenom) }}</div>
                    <div class="form">{{ form_row(form.date_naissance) }}</div>
                    <div class="form">{{ form_row(form.photo) }}</div>
                    <div class="form">{{ form_row(form.cv) }}</div>
                    <div class="form">{{ form_row(form.numrue) }}</div>
                    <div class="form">{{ form_row(form.adresse) }}</div>
                    <div class="form">{{ form_row(form.ville) }}</div>
                    <div class="form">{{ form_row(form.cp) }}</div>
                    <div class="form">{{ form_row(form.tel) }}</div>
                    <div class="form">{{ form_row(form.mail) }}</div>
                    <div class="form">{{ form_row(form.presentation) }}</div>
                    <div class="form">{{ form_row(form.blog) }}</div>
                    <h3 class="text-center titreForm">Information concernant le concours</h3>
                    <div class="form">{{ form_row(form.motivation) }}</div>
                    <div class="form">{{ form_row(form.profession) }}</div>
                    <div class="form">{{ form_row(form.formation) }}</div>
                    <div class="form">{{ form_row(form.competence) }}</div>
                    <div class="form">{{ form_row(form.promotion) }}</div>
                    {% for document in form.documents %}
                        <h3 class="text-center titreForm">Documents</h3>
                        <p class="text-center">
                            Vous pouvez telecharger jusqu'à 3 documents qui vous ont inspiré pour votre création (photos, vidéos, herbiers etc...)<br/>
                            Les types de documents supportés sont "image", "vidéo", "musique" ou "pdf". Merci de respecter l'orthographe de ces types.<br/>
                            Vous pouvez également ajouter un lien vers un site externe
                        </p>
                        <ul class="documents" data-prototype="{{ form_widget(form.documents.vars.prototype)|e('html_attr') }}">
                            <div class="form"><li>{{ form_row(document.type) }}</li></div>
                            <div class="form"><li>{{ form_row(document.contenu) }}</li></div>
                            <div class="form"><li>Et/ou</li></div>
                            <div class="form"><li>{{ form_row(document.lien) }}</li></div>
                        </ul>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="submit" value="Créer" class="btn-primary btn-lg center-block"/>
                        </div>
                        <div class="col-xs-6">
                            <a href="{{ path('index') }}">
                            <input type="button" class="btn-danger btn-lg center-block" value="Retour">
                            </a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        <script>
            var $collectionHolder;

            // setup an "add a tag" link
            var $addDocumentLink = $('<div class="form"><a href="#" class="add_document_link">Ajouter un document</a></div>');
            var $newDocumentLi = $('<li></li>').append($addDocumentLink);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.documents');

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newDocumentLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $addDocumentLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // add a new tag form (see next code block)
                    addDocumentForm($collectionHolder, $newDocumentLi);
                });
            });

            function addDocumentForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addDocumentFormDeleteLink($newFormLi);
            }

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.documents');

                // add a delete link to all of the existing tag form li elements
                $collectionHolder.find('li').each(function() {
                    adddocumentFormDeleteLink($(this));
                });

                // ... the rest of the block from above
            });

            function addDocumentFormDeleteLink($documentFormLi) {
                var $removeFormA = $('<div class="form"><a href="#">Supprimer un document</a></div>');
                $documentFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $documentFormLi.remove();
                });
            }
            
        </script>
        </div>

{% endblock %}