{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ asset('upload/' ~ candidat.photo) }}" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">{{ candidat.nom }} {{ candidat.prenom }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Contact</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.numrue }} {{ candidat.adresse }} {{ candidat.cp }} {{ candidat.ville }}</p>
                    <p>{{ candidat.mail }} {{ candidat.tel }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Présentation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.presentation }}</p>
                    <p><a href="{{ asset('upload/' ~ candidat.cv) }}" target="_blank">Telecharger le cv au format pdf</a></p>
                    <p><a href="{{ candidat.blog }}" target="_blank">Site/blog</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Profession</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.profession }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Formation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.formation }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Autres compétences/formations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.competence }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Motivations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.motivation }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Inspirations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% for document in candidat.documents %}
                    <p>{{ document.type }}</p>
                        <img src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive ">
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Décision</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{% if candidat.decision %}Validé{% else %}Non-validé{% endif %}</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-6">
                    <a href="{{ path('candidat_index') }}">Voir la liste des inscrits</a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">Editer</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer le candidat" class="btn-lg btn-danger center-block">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
