{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/candidatShowStyle.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ asset('upload/' ~ candidat.photo) }}" class="img-responsive profilePicShow center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">{{ candidat.nom }} {{ candidat.prenom }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Contact</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.numrue }} {{ candidat.adresse }} {{ candidat.cp }} {{ candidat.ville }}</p>
                    <p>{{ candidat.mail }}</p>
                    <p>{{ candidat.tel }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Présentation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>Motivations</h4>
                        <p>{{ candidat.presentation }}</p>
                    <h4>CV</h4>
                        <p><a href="{{ asset('upload/' ~ candidat.cv) }}" target="_blank">Telecharger le cv au format pdf</a></p>
                    <h4>Blog/site perso</h4>
                    <p><a href="{{ candidat.blog }}" target="_blank">{{ candidat.blog }}</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Profession</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.profession }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Formation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.formation }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Autres compétences/formations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.competence }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Motivations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ candidat.motivation }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Inspirations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% for document in candidat.documents %}
                        {% if document.type == "image" %}
                            <img src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive"><br/>
                            {% elseif document.type == "vidéo" %}
                                <video controls src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive "></video><br/>
                            {% elseif document.type == "musique" %}
                                <audio controls src="{{ asset('upload/' ~ document.contenu) }}"></audio><br/>
                            {% elseif document.type == "pdf" %}
                                <a href="{{ asset('upload/' ~ document.contenu) }}" target="_blank">Voir le document</a>
                            {% else %}
                                <p>Le candidat n'a pas téléchargé de document ou le format n'est pas supporté</p>
                        {% endif %}
                        {% if document.lien != "" %}
                            <h4>Lien</h4>
                                <a href="{{ document.lien }}" target="_blank">{{ document.lien }}</a><br/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if is_granted ('ROLE_JURY') %}
                <div class="row text-center">
                    <div class="col-xs-4">
                        <a href="{{ path('vote' , { 'id': candidat.id } , { 'typeVote' :positif}) }}"><i class="fa fa-star fa-5x" style="color: yellow" aria-hidden="true"></i>
                        <p style="color: black">Voter pour le candidat</p></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#"><i class="fa fa-times fa-5x" style="color: red" aria-hidden="true"></i>
                        <p style="color: black">Ne pas voter pour le candidat</p></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#"><i class="fa fa-commenting-o fa-5x" style="color: black" aria-hidden="true"></i>
                        <p style="color: black">Ne sais pas</p></a>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Laisser un commentaire (obligatoire si indécis)</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea cols="100" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted ('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Décision</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>{% if candidat.decision %}Validé{% else %}Non-validé{% endif %}</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-6">
                        <a href="{{ path('candidat_index') }}">Voir la liste des inscrits</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">Editer</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer le candidat" class="btn-lg btn-danger center-block">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
