{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ candidat.nom }} {{ candidat.prenom }}</h1>

    <table>
        <tbody>

            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('upload/' ~ candidat.photo) }}" class="img-responsive "></td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ candidat.numrue }} {{ candidat.adresse }} {{ candidat.cp }} {{ candidat.ville }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ candidat.mail }} {{ candidat.tel }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ candidat.presentation }}</td>
                <td>{{ candidat.blog }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ candidat.profession }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ candidat.formation }}</td>
            </tr>
            <tr>
                <th>Compétences</th>
                <td>{{ candidat.competence }}</td>
            </tr>
            <tr>
                <th>Motivations</th>
                <td>{{ candidat.motivation }}</td>
            </tr>
            <tr>
                <th>Document</th>
                {% for document in candidat.documents %}
                        <td>{{ document.type }}</td>
                        <td>
                            <img src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive ">
                        </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Decision</th>
                <td>{% if candidat.decision %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('candidat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
