{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
    <h1>Promotions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Archivage</th>
                <th>Année</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td><a href="{{ path('promotion_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a></td>
                <td>{% if promotion.archivage %}Yes{% else %}No{% endif %}</td>
                <td>{{ promotion.year }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('promotion_show', { 'id': promotion.id }) }}">show</a>
                        </li>
                            {% if promotion.encours %}
                                Promo en cours
                            {% else  %}
                                <a href="{{ path('passer_promotion_encours', {'id': promotion.id}) }}" >Passer la promotion en cours</a>
                            {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promotion_new') }}">Create a new promotion</a>
        </li>
    </ul>
{% endblock %}
