{% extends 'BackBundle:Default:backHeader.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
<div class="container admin">

    <h2>Promotions / <a href="{{ path('promotion_new') }}">créer une promotion </a></h2>

    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th>Archivage</th>
                <th>Année</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                {#<td><a href="{{ path('promotion_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a></td>#}
                <td>{% if promotion.archivage %}Yes{% else %}No{% endif %}</td>
                <td>{{ promotion.year }}</td>
                <td>
                            <a href="{{ path('promotion_show', { 'id': promotion.id }) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>

                            {% if promotion.encours %}
                                Promo en cours
                            {% else  %}
                                <a href="{{ path('passer_promotion_encours', {'id': promotion.id}) }}" >Passer la promotion en cours</a>
                            {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
</div>

{% endblock %}
