{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
    <h1>Promotion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Archivage</th>
                <td>{% if promotion.archivage %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ promotion.year }}</td>
            </tr>
            <tr>
                {% if promotion.encours == 1 %}
                    <h4>Cette promotion est en cours.</h4>
                {% else  %}
                    <h4>Cette promotion n'est pas en cours.</h4>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promotion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
