{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
<div class="container admin">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover">
            <h2>Promotion / <a href="{{ path('promotion_index') }}">retour à la liste </a> /  <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">éditer</a></h2>
            <thead>
                <tbody>
                    <tr>
                        <th>Année</th>
                        {#<th>Action</th>#}

                    </tr>
                    <tr>
                        {#<td>{% if promotion.archivage %}Yes{% else %}No{% endif %}</td>#}
                        <td>{{ promotion.year }}</td>
                        {#<td>  {{ form_start(delete_form) }}#}
                            {#<button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>#}
                            {#{{ form_end(delete_form) }}#}
                        {#</td>#}
                    </tr>
                    <tr>
                        {% if promotion.encours == 1 %}
                            <h4>Cette promotion est en cours.</h4>
                        {% else  %}
                            <h4>Cette promotion n'est pas en cours.</h4>
                        {% endif %}
                    </tr>
                </tbody>
        </table>
    </div>
</div>
{% endblock %}



