{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
    {% form_theme edit_form'bootstrap_3_layout.html.twig' %}

<div class="container admin">

<h2>Présentation du concours / <a href="{{ path('presentation_index') }}">retour à la liste</a></h2>
    <h2 style="font-size: 1.3em">Cette partie s'affiche sur la page d'accueil du site et présente le concours. <br />
        Il y a double champs : une pour la version française et une pour la version anglaise du site.
    </h2>


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <button class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
    {{ form_end(edit_form) }}

    {#{{ form_start(delete_form) }}#}
    {#<button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>#}
    {#{{ form_end(delete_form) }}#}
</div>
{% endblock %}
