{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
    <link rel="stylesheet" href="{{ asset('css/concours_back.css') }}">
{% endblock %}

{% block content %}
    {% for presentation in presentations %}
    <div class="container admin">
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-light-grey">
            <h2>Présentation du concours / </h2>
            <thead>

                <tr>
                    <th>Titre</th>
                    <td>{{ presentation.titre }}</td>
                </tr>
                <tr>
                    <th>Title (pour la version anglaise)
                    <td>{{ presentation.title }}</td>
                </tr>
                <tr>
                    <th>Sous-titre 1</th>
                    <td>{{ presentation.soustitreun }}</td>
                </tr>
                <tr>
                    <th>Subtitle 1 (pour la version anglaise)</th>
                    <td>{{ presentation.subtitleone }}</td>
                </tr>
                <tr>
                    <th>Paragraphe 1</th>
                    <td>{{ presentation.paragrapheun }}</td>
                </tr>
                <tr>
                    <th>Section 1 (pour la version anglaise)</th>
                    <td>{{ presentation.sectionone }}</td>
                </tr>
                <tr>
                    <th>Sous-titre 2</th>
                    <td>{{ presentation.soustitredeux }}</td>
                </tr>
                <tr>
                    <th>Subtitle 2</th>
                    <td>{{ presentation.subtitletwo }}</td>
                </tr>
                <tr>
                    <th>Paragraphe 2</th>
                    <td>{{ presentation.paragraphedeux }}</td>
                </tr>
                <tr>
                    <th>Section 2 (pour la version anglaise)</th>
                    <td>{{ presentation.sectiontwo }}</td>
                </tr>
                <tr>
                    <th>Paragraphe 3</th>
                    <td>{{ presentation.paragraphetrois }}</td>
                </tr>
                <tr>
                    <th>Section 3 (pour la version anglaise)</th>
                    <td>{{ presentation.sectionthree }}</td>
                </tr>
                <tr>
                    <th>Sous-titre 3</th>
                    <td>{{ presentation.soustitretrois }}</td>
                </tr>
                <tr>
                    <th>Subtitle 3 (pour la version anglaise)</th>
                    <td>{{ presentation.subtitlethree }}</td>
                </tr>
                <tr>
                    <th>Paragraphe 4</th>
                    <td>{{ presentation.paragraphequatre }}</td>
                </tr>
                <tr>
                    <th>Section 4 (pour la version anglaise)</th>
                    <td>{{ presentation.sectionfour }}</td>
                </tr>
                <tr>
                    <th>Paragraphe 5</th>
                    <td>{{ presentation.paragraphecinq }}</td>
                </tr>
                <tr>
                    <th>Section 5 (pour la version anglaise)</th>
                    <td>{{ presentation.sectionfive }}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {#<a href="{{ path('presentation_show', { 'id': presentation.id }) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>#}
                        <a href="{{ path('presentation_edit', { 'id': presentation.id }) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
{% endblock %}
