{% extends 'BackBundle:Default:backLayout.html.twig' %}

    {% block stylesheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/back.css') }}">
    {% endblock %}

{% block content %}
<div class="container admin">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-grey">
        <h2>Présentation du concours / <a href="{{ path('presentation_index') }}">retour à la liste </a> /  <a href="{{ path('presentation_edit', { 'id': presentation.id }) }}">éditer</a></h2>

        <thead>
            <tr>
                <th>Titre</th>
                <td>{{ presentation.titre }}</td>
            </tr>
            <tr>
                <th>Title (pour la version anglaise)</th>
                <td>{{ presentation.title }}</td>
            </tr>
            <tr>
                <th>Sous-titre un</th>
                <td>{{ presentation.soustitreun }}</td>
            </tr>
            <tr>
                <th>Subtitle one (pour la version anglaise)</th>
                <td>{{ presentation.subtitleone }}</td>
            </tr>
            <tr>
                <th>Paragraphe un</th>
                <td>{{ presentation.paragrapheun }}</td>
            </tr>
            <tr>
                <th>Section one (pour la version anglaise)</th>
                <td>{{ presentation.sectionone }}</td>
            </tr>
            <tr>
                <th>Sous-titre deux</th>
                <td>{{ presentation.soustitredeux }}</td>
            </tr>
            <tr>
                <th>Subtitle two (pour la version anglaise)</th>
                <td>{{ presentation.subtitletwo }}</td>
            </tr>
            <tr>
                <th>Paragraphe deux</th>
                <td>{{ presentation.paragraphedeux }}</td>
            </tr>
            <tr>
                <th>Section two (pour la version anglaise)</th>
                <td>{{ presentation.sectiontwo }}</td>
            </tr>
                <th>Paragraphe trois</th>
                <td>{{ presentation.paragraphetrois }}</td>
            <tr>
                <th>Section three (pour la version anglaise)</th>
                <td>{{ presentation.sectionthree }}</td>
            </tr>
            <tr>
                <th>Sous-titre trois</th>
                <td>{{ presentation.soustitretrois }}</td>
            </tr>
            <tr>
                <th>Subtitle three (pour la version anglaise)</th>
                <td>{{ presentation.subtitlethree }}</td>
            </tr>
            <tr>
                <th>Paragraphe quatre</th>
                <td>{{ presentation.paragraphequatre }}</td>
            </tr>
            <tr>
                <th>Section four (pour la version anglaise)</th>
                <td>{{ presentation.sectionfour }}</td>
            </tr>
            <tr>
                <th>Paragraphe cinq</th>
                <td>{{ presentation.paragraphecinq }}</td>
            </tr>
            <tr>
                <th>Section five (pour la version anglaise)</th>
                <td>{{ presentation.sectionfive }}</td>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>{{ form_start(delete_form) }}
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        {{ form_end(delete_form) }}</td>
                </tr>
            </tbody>
            <tfoot>
        </table>
    </div>
</div>
{% endblock %}
