{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}


{% block content %}
    <div class="container admin">


        <h2>Agenda laboratoire / <a href="{{ path('agenda_labo_new') }}">créer un créneau d'accès au labo </a>/ <a  href="{{ path('index') }}">{{ 'retour au site'| trans }}</a></h2>


        <div class="table-responsive-vertical shadow-z-1">

            <table id="table" class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure début AM</th>
                    <th>Heure fin AM</th>
                    <th>Heure début PM</th>
                    <th>Heure fin PM</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for agenda_Labo in agenda_Labos %}
                    <tr>
                        {#<td><a href="{{ path('agenda_labo_show', { 'id': agenda_Labo.id }) }}">{{ agenda_Labo.id }}</a></td>#}
                        <td>{% if agenda_Labo.date %}{{ agenda_Labo.date|date('d-m-Y') }}{% endif %}</td>
                        <td>{% if agenda_Labo.heureDebutAM %}{{ agenda_Labo.heureDebutAM|date('H:i') }}{% endif %}</td>
                        <td>{% if agenda_Labo.heureFinAM %}{{ agenda_Labo.heureFinAM|date('H:i') }}{% endif %}</td>
                        <td>{% if agenda_Labo.heureDebutPM %}{{ agenda_Labo.heureDebutPM|date('H:i') }}{% endif %}</td>
                        <td>{% if agenda_Labo.heureFinPM %}{{ agenda_Labo.heureFinPM|date('H:i') }}{% endif %}</td>
                        <td data-title="Actions">
                            <a href="{{ path('agenda_labo_show', { 'id': agenda_Labo.id }) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>
                            <a href="{{ path('agenda_labo_edit', { 'id': agenda_Labo.id }) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {#<a  href="{{ path('index') }}">Retour au site</a>#}
    </div>

{% endblock %}
