{% extends 'base.html.twig' %}



{% block body %}
    <h1>Agenda_labos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Heuredebutam</th>
                <th>Heurefinam</th>
                <th>Heuredebutpm</th>
                <th>Heurefinpm</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda_Labo in agenda_Labos %}
            <tr>
                <td><a href="{{ path('agenda_labo_show', { 'id': agenda_Labo.id }) }}">{{ agenda_Labo.id }}</a></td>
                <td>{% if agenda_Labo.date %}{{ agenda_Labo.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if agenda_Labo.heureDebutAM %}{{ agenda_Labo.heureDebutAM|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if agenda_Labo.heureFinAM %}{{ agenda_Labo.heureFinAM|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if agenda_Labo.heureDebutPM %}{{ agenda_Labo.heureDebutPM|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if agenda_Labo.heureFinPM %}{{ agenda_Labo.heureFinPM|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agenda_labo_show', { 'id': agenda_Labo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agenda_labo_edit', { 'id': agenda_Labo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agenda_labo_new') }}">Create a new agenda_Labo</a>
        </li>
        <a  href="{{ path('index') }}">Retour au site</a>
    </ul>
{% endblock %}
