{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}

    {% form_theme form'bootstrap_3_layout.html.twig' %}

    <div class="container admin">
        <h2>Agenda création /  <a href="{{ path('agenda_labo_index') }}">{{ 'retour à la liste'| trans }}</a></h2>
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                {{ form_end(form) }}
            </table>
        </div>
        {#<a  href="{{ path('index') }}">{{ 'Retour au site'| trans }}</a>#}
    </div>

{% endblock %}