{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agendalabos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Demijournee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agendaLabo in agendaLabos %}
            <tr>
                <td><a href="{{ path('agendalabo_show', { 'id': agendaLabo.id }) }}">{{ agendaLabo.id }}</a></td>
                <td>{% if agendaLabo.date %}{{ agendaLabo.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ agendaLabo.demiJournee }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agendalabo_show', { 'id': agendaLabo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agendalabo_edit', { 'id': agendaLabo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agendalabo_new') }}">Create a new agendaLabo</a>
        </li>
    </ul>
{% endblock %}
