{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}


{% block content %}
    <div class="container admin">

        <h2>Articles  / <a href="{{ path('article_new') }}">créer un article </a></h2>

        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Auteur</th>
                        <th>Date</th>
                        <th>Photo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.contenu | truncate(150, true, "...") }}</td>
                        <td>{{ article.auteur }}</td>
                        <td>{% if article.date %}{{ article.date|date('d-m-Y') }}{% endif %}</td>
                        <td><img src="{{ asset('upload/' ~ article.photo) }}"></td>
                        <td data-title="Actions">
                            <a href="{{ path('article_show', { 'id': article.id }) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
