{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}

        <div class="container admin">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-grey">
                    <h2>Article / <a href="{{ path('article_index') }}">retour à la liste </a> /  <a href="{{ path('article_edit', { 'id': article.id }) }}">éditer</a></h2>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th>Contenu</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Date">{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</td>
                                <td data-title="Titre">{{ article.titre }}</td>
                                <td data-title="Auteur">{{ article.auteur }}</td>
                                <td data-title="Contenu">{{ article.contenu }}</td>
                                <td data-title="Photo"><img src="{{ asset('upload/' ~ article.photo) }}"></td>
                                <td>
                                    {{ form_start(delete_form) }}
                                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    {{ form_end(delete_form) }}
                                </td>
                            </tr>
                        </tbody>
                    <tfoot>
                </table>
            </div>
            <h2>Commentaires</h2>
            {% for  commentaire in article.commentaires %}
                <div class="row">
                    <div class="col-md-10">
                        <blockquote class="blockquote">
                            <p>{{ commentaire.commentaire}}</p>
                            <footer class="blockquote-footer">Posté par <cite title="Source Title">{{ commentaire.utilisateur}}</cite><span class="text-right"> le {{ commentaire.date|date('d/m/Y') }}</span></footer>
                        </blockquote>
                    </div>
                    <div class="col-md-2">
                       <a href = "{{ path('commentaire_link_delete', {'id':commentaire.id}) }}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>


<script>


</script>

{% endblock %}



