{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ article.auteur }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ article.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {% for  commentaire in article.commentaires %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">#{{ loop.index }} - by {{ commentaire.utilisateur}} <span class="text-right">{{ commentaire.date }}</span></h3>
            </div>
            <div class="panel-body">
                {{ commentaire.commentaire}}
            </div>
        </div>
    {% endfor %}



{% endblock %}
