    {% extends 'FrontBundle:Default:index.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/blog_style.css') }}">
    {% endblock %}

{% block content %}
<div class="container-fluid blog">

    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <h1><i class="fa fa-pagelines pagelines_title" aria-hidden="true"></i> Notre actu</h1>
            <div class="row">
                {% for article in articles %}
                <div class="blog-post">
                    <img class="img-responsive" src="{{ asset('upload/' ~  article.photo )}}">
                    <h2 class="blog-title">{{ article.titre }}</h2>
                    <h3 class="date">{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</h3>
                    <p class="blog-content"><blockquote>{{ article.contenu }}</blockquote></p>
                    <a href="{{  path ('list_article') }}" class="post-link">Lire Plus...</a>
                    {# SIDEBAR #}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="side-post">
                <h2>À propos de nous</h2>
                <img class="img-responsive" src="{{ asset('images/blog4.jpg') }}" alt="image parfum"/>
                <p class="side-content">Ut noster tractavissent, summis hic eiusmod te quem. Doctrina velit litteris eu eu fore ingeniis philosophari ne quid o ingeniis ne anim, illum ea iudicem. Pariatur duis dolor hic dolor ad vidisse amet elit ita summis, quo duis te malis.</p>
                <a href="#" class="post-link">En savoir plus...</a>
            </div>

            <div class="side-post">
                <h4><i class="fa fa-clock-o" aria-hidden="true"></i> Posts récents</h4>
                <div class="in-post">
                    <img class="img-responsive" src="{{ asset('images/blog5.jpg') }}" alt="image parfum"/>
                    <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus. Eleifend massa scelerisque, aenean penatibus laoreet ut.</p>
                </div>
                <div class="in-post">
                    <img class="img-responsive" src="{{ asset('images/blog6.jpg') }}" alt="image parfum"/>
                    <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus.	Eleifend massa scelerisque, aenean penatibus laoreet ut.</p>
                </div>
                <div class="in-post">
                    <img class="img-responsive" src="{{ asset('images/blog7.jpg') }}" alt="image parfum"/>
                    <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus.	Eleifend massa scelerisque, aenean penatibus laoreet ut.</p>
                </div>
                <a href="{{ path('list_article') }}" class="button">Anciens Posts</a>
            </div>
        </div>

    </div>
    {# SIDE BAR #}

</div>


{% endblock %}

{% block JS %}
    {{ parent() }}
   
{% endblock %}







