    {% extends 'FrontBundle:Default:index.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/blog_style.css') }}">
    {% endblock %}

{% block content %}
<div class="container-fluid blog">

    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <h1><i class="fa fa-pagelines pagelines_title" aria-hidden="true"></i> Notre actu</h1>
            <div class="row">
                <div class="blog-post">
                    <img class="img-responsive img-blog" src="{{ asset('images/blog1.jpg') }}" alt="image parfum"/>
                    <h2 class="blog-title">Title</h2>
                    <h3 class="date">Posté le 28 Oct 2016</h3>
                    <p class="blog-content"><blockquote>Ut noster tractavissent, summis hic eiusmod te quem. Doctrina velit litteris eu eu fore ingeniis philosophari ne quid o ingeniis ne anim, illum ea iudicem. Pariatur duis dolor hic dolor ad vidisse amet elit ita summis, quo duis te  malis, velit nostrud ingeniis. Appellat elit tamen iudicem multos, mentitum quae sed appellat illustriora. Velit commodo cernantur se si anim do labore, probant ab aliqua aut non laborum fidelissimae. Ex quae se fugiat, et malis officia in et enim cillum ita incididunt, a irure amet an ingeniis.</blockquote></p>
                    <a href="#sidebar" class="post-link">Lire Plus...</a>
                    {# SIDEBAR #}

                </div>
                <div class="blog-post">
                    <img class="img-responsive img-blog" src="{{ asset('images/blog2.jpg') }}" alt="image parfum"/>
                    <h2 class="blog-title">Title</h2>
                    <h3 class="date">Posté le 10 Nov 2016</h3>
                    <p class="blog-content"><blockquote>Dolor offendit et consectetur, ut mandaremus est litteris, noster ab ab labore cernantur eu nulla incurreret imitarentur, qui fore malis e doctrina, de anim esse do appellat, proident sint litteris, anim arbitror consequat. Proident illum nulla laborum fore. Sed tamen litteris probant, summis exercitation consequat minim eiusmod hic ea dolor admodum vidisse, aliquip eruditionem id possumus. Si lorem ex culpa. Summis eiusmod a mentitum. Nisi deserunt vidisse a ingeniis velit ex cernantur reprehenderit, est appellat an incididunt ad duis non fabulas ut aute id an offendit adipisicing, ad duis litteris, ubi quid ea anim do appellat veniam aut officia illustriora. Quamquam ubi tamen appellat et eu ex duis pariatur eu qui arbitror exercitation, te laboris exercitation. Vidisse varias quem te amet, esse iudicem do comprehenderit, incididunt a commodo, consequat si summis excepteur ne amet de vidisse se fore, lorem distinguantur consequat varias nescius, quae incididunt qui instituendarum, uibusdam ad summis.</blockquote></p>
                    <a href="#" class="post-link">Lire Plus...</a>
                </div>

                <div class="blog-post">
                    <img class="img-responsive img-blog" src="{{ asset('images/blog3.jpg') }}" alt="image parfum"/>
                    <h2 class="blog-title">Title</h2>
                    <h3 class="date">Posté le 2 Déc 2016</h3>
                    <p class="blog-content"><blockquote>Expetendis qui probant, enim arbitror de enim irure ubi e arbitror praetermissum, nulla de probant. Velit incididunt et sint quorum. Ita an sempiternum ita senserit fidelissimae de vidisse est o esse si quid iis deserunt est tempor o ab lorem consequat, et occaecat nam doctrina, ad ex nisi senserit, amet exquisitaque laborum eram iudicem. Sed id cillum aliquip, nulla e de fugiat ingeniis. Eiusmod amet aliqua appellat sunt. Ea amet expetendis litteris, in dolor quamquam proident, quorum consequat id quorum aute iis ut nisi tempor. Ea senserit ne senserit. Qui ad fugiat mandaremus ut iis de sint elit tamen o pariatur nulla varias an dolore, probant nisi varias an multos, aliqua nam nam illum officia, an non praetermissum iis senserit enim ullamco do quid o arbitror.</blockquote></p>
                    <a href="#" class="post-link">Lire Plus...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="side-post">
                <h2>À propos de nous</h2>
                <img class="img-responsive" src="{{ asset('images/blog4.jpg') }}" alt="image parfum"/>
                <p class="side-content">Ut noster tractavissent, summis hic eiusmod te quem. Doctrina velit litteris eu eu fore ingeniis philosophari ne quid o ingeniis ne anim, illum ea iudicem. Pariatur duis dolor hic dolor ad vidisse amet elit ita summis, quo duis te malis.</p>
                <a href="#" class="post-link">En savoir plus...</a>
            </div>

            <div class="side-post">
                <h4><i class="fa fa-clock-o" aria-hidden="true"></i> Posts récents</h4>
                <div class="in-post">
                    <img class="img-responsive" src="{{ asset('images/blog5.jpg') }}" alt="image parfum"/>
                    <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus. Eleifend massa scelerisque, aenean penatibus laoreet ut.</p>
                </div>
                <div class="in-post">
                    <img class="img-responsive" src="{{ asset('images/blog6.jpg') }}" alt="image parfum"/>
                    <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus.	Eleifend massa scelerisque, aenean penatibus laoreet ut.</p>
                </div>
                <div class="in-post">
                    <img class="img-responsive" src="{{ asset('images/blog7.jpg') }}" alt="image parfum"/>
                    <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus.	Eleifend massa scelerisque, aenean penatibus laoreet ut.</p>
                </div>
                <a href="#" class="button">Anciens Posts</a>
            </div>
        </div>

    </div>
    {# SIDE BAR #}

</div>


{% endblock %}

{% block JS %}
    {{ parent() }}
   
{% endblock %}







