{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/candidatEnAvant_style.css') }}">
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">

            <div class="présentation">
                <h1 class="text-center "> Candidat mis avant</h1>
                <p class="text-center">
                <div class="row">
                    <div class="col-md-offset-2 col-md-3">
                    <img src="{{ asset('upload/' ~ candidat.photo) }}" alt="photo profil">
                    <div class="prenom">
                        Prénom :
                        {{ candidat.prenom }}
                    </div>
                    <div>
                        Nom :
                        {{ candidat.nom }}
                    </div>
                    <div>
                        Ville :
                        {{ candidat.ville }}
                    </div>
                    <div>
                        Code Postal :
                        {{ candidat.cp }}
                    </div>
                </div>

                <div class="col-md-3">
                    Présentation du candidat :
                {{ candidat.presentation }}
                </div>
                <div class="col-md-4">
                    Motivation du candidat :
                    {{ candidat.motivation }}
                </div>
                </div>
                </p>
            </div>

        </div>
    </section>
{% endblock %}
