{% block content %}
        {%  if candidat is not null %}
    <div class="container candidat">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>{{ 'Candidat du jour'| trans }}</h2>
                    <p>{{ 'Retrouvez ici un de nos candidats au concours Corpo 35'| trans }}.</p>
                    <p class="linkCandidatEnAvant"><a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'Cliquez ici pour en savoir plus sur ce candidat'| trans }}.</a></p>
                    <p class="linkCandidatEnAvant"><a href="{{ path('candidats_choisis') }}"> {{ 'Cliquez ici pour voir tous les candidats séléctionnés'| trans }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="nomPrenom">{{ candidat.prenom }}<br/>{{ candidat.nom }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img src="{{ asset('upload/' ~ candidat.photo) }}" class="center-block photoProfil img-responsive">
            </div>
            <div class="col-xs-6">
                <div class="row profession">
                    <div class="col-xs-12">
                        <p>{{ candidat.profession }}</p>
                    </div>
                </div>
                <div class="presentation">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ candidat.presentation | truncate(50, true, '...')}}<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'En lire plus'| trans }}</a></p>
                        </div>
                    </div>
                    {% if candidat.blog is not null %}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ 'Blog/Site web'|trans }}: <a href="{{ candidat.blog }}" target="_blank"> {{ candidat.blog }}</a></p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12 motivation">
                            <p class="motivationTitre"> {{ 'Motivations pour le concours'| trans }}</p>
                            <p>{{ candidat.motivation | truncate(50, true, '...')}}<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'En lire plus'| trans }}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 motivation">
                            {% if candidat.formation is not null or candidat.competence is not null %}
                                {% if candidat.formation is not null %}
                                    <p class="FormationTitre"> {{ 'Formations liées à la parfumerie:'| trans }}</p>
                                    <p>{{ candidat.formation | truncate(50, true, '...')}}<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'En lire plus'| trans }}</a></p>
                                {% endif %}
                                {% if candidat.competence is not null %}
                                    <p class="FormationTitre"> {{ 'Autres formations:'| trans }}</p>
                                    <p class="">{{ candidat.competence | truncate(50, true, '...')}}<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'En lire plus'| trans }}</a></p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endif %}
{% endblock %}
