{% block content %}
    <div class="container candidat">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>{{ 'Candidat du jour'| trans }}</h2>
                <p>
                     {{ 'Retrouvez ici un de nos candidats au concours Corpo 35'| trans }}.<br/>
                    <a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'Cliquez ici pour en savoir plus sur ce candidat'| trans }}.</a><br/>
                    <a href="{{ path('candidats_choisis') }}"> {{ 'Cliquez ici pour voir tous les candidats séléctionnés'| trans }}</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="nomPrenom">{{ candidat.prenom }}<br/>{{ candidat.nom }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img src="{{ asset('upload/' ~ candidat.photo) }}" class="center-block photoProfil img-responsive">
            </div>
            <div class="col-xs-6">
                <div class="row profession">
                    <div class="col-xs-12">
                        <p>{{ candidat.profession }}</p>
                    </div>
                </div>
                <div class="presentation">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ candidat.presentation | truncate(50, true, '...')}}<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'En lire plus'| trans }}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>mail: <a href="mailto:{{ candidat.mail }} ">{{ candidat.mail }}</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p>blog: <a href="{{ candidat.blog }}" target="_blank"> {{ candidat.blog }}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 motivation">
                            <p class="motivationTitre"> {{ 'Motivations pour le concours'| trans }}</p>
                            <p>{{ candidat.motivation | truncate(50, true, '...')}}<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}"> {{ 'En lire plus'| trans }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="Logo">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_testeur.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                A labore modi nostrum. Optio incidunt porro voluptas quis...<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}">{{ 'En lire plus'| trans }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_flacon.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                A labore modi nostrum. Optio incidunt porro voluptas quis voluptas laudantium at voluptate.
                                Distinctio quae repellat eos nostrum voluptas dignissimos...<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}">{{ 'En lire plus'| trans }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_nez.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                A labore modi nostrum. Optio incidunt porro...<a href="{{ path('page_vitrine_candidat', { 'id': candidat.id }) }}">{{ 'En lire plus'| trans }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
