{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/candidatEnAvant_style.css') }}">
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="presentation">
                <h1 class="text-center "> Candidat mis avant</h1>
                <div class="row ">
                    <div class="col-md-offset-1 col-md-3">
                        <div class="prenom">
                        <p class="titre">  Prénom :</p>
                            {{ candidat.prenom }}
                        </div>
                    <div>
                   <p class="titre"> Nom :</p>
                        {{ candidat.nom }}
                </div>
            <div>
            <img id="photo" src="{{ asset('upload/' ~ candidat.photo) }}" alt="photo profil">
        </div>
        <div>
            <p class="titre">Inspirations pour le parfum :</p>
                {% for document in candidat.documents %}
                    {% if document.type == "image" %}
                        <p class="soustitre">Inspiration par une image : </p>
                        <img src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive"><br/>
                    {% elseif document.type == "vidéo" %}
                        <p class="soustitre">Inspiration vidéo :</p>
                        <video  controls src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive video "></video><br/>
                    {% elseif document.type == "musique" %}
                        <p class="soustitre"> Inspirations audio : </p>
                        <audio class="audio" controls src="{{ asset('upload/' ~ document.contenu) }}"></audio> <br/>
                    {% elseif document.type == "pdf" %}
                        <p class="soustitre">Inspiration par un document : </p>
                        <a href="{{ asset('upload/' ~ document.contenu) }}" target="_blank">Voir le document</a>
                    {% else %}
                        <p>Le format du document n'est pas supporté</p>
                    {% endif %}
                        <p class="soustitre">Inspiration par une page internet</p>
                        <a href="{{ document.lien }}" target="_blank">{{ document.lien }}</a>
                {% endfor %}
        </div>
        <div class="col-md-offset-1 col-md-3">
           <p class="titre"> Présentation du candidat :</p> <br/>
           <p class="text"> {{ candidat.presentation | truncate(200, true,"...") }} </p>
        </div>
        <div class=" col-md-3">
            <p class="titre"> Motivation du candidat :</p> <br/>
            <p class="text"> {{ candidat.motivation | truncate(200, true,"...") }}</p>
        </div>
    </section>
{% endblock %}
