{% extends 'FrontBundle:Default:layout.html.twig' %}



{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% form_theme formContact 'bootstrap_3_layout.html.twig' %}

{% block content %}

    {#          Flashbag message            #}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success message_flash alert-dismissible" role="alert">
            {% for msg in app.session.flashBag.get('success') %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="text-center">{{ msg | raw }}</span>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <div class="contact-form">
            <div class="row form">
            <h2>{{ 'Vous pouvez nous contacter via ce formulaire'| trans }}</h2>
            </div>
            {{ form_start(formContact) }}
            {{ form_widget(formContact) }}
            <input class="send-msg" type="submit" value=" {{ 'Envoyer'| trans }}" />
            {{ form_end(formContact) }}

        </div>
    </div>
{% endblock %}