<div class="well">
    {{ form_start(form, {'attr':{'action': path('formComment', {'id':article.id})}}) }}
    {{ form_widget(form) }}
    <input class="btn btn-lg btn-success" type="submit" value="Create" />
    {{ form_end(form) }}
</div>



{{ form_start(form) }}
<p>{{ form_row(form.date) }}</p>
<p>{{ form_row(form.auteur) }}</p>
<p>{{ form_row(form.commentaire) }}</p>
<input type="submit" value="Create" />
{{ form_end(form) }}