    <div class="hidden-xs hidden-sm">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('contact') }}" class="linkNavbar"><i class="fa fa-envelope-o fa-1x linkNavbar" aria-hidden="true"></i> Contact</a></li>
                    <li><a href="{{ path('list_partenaire') }}" class="linkNavbar"><i class="fa fa-handshake-o fa-1x linkNavbar" aria-hidden="true"></i> {{ 'Partenaires'| trans }}</a></li>
                    <li><a href="{{ path('revuedepresse') }}" class="linkNavbar"><i class="fa fa-newspaper-o fa-1x linkNavbar" aria-hidden="true"></i> {{ 'La revue de presse'| trans }}</a></li>
                    <li><a href="{{ path('list_agenda_labo') }}" class="linkNavbar"><i class="fa fa-calendar fa-1x linkNavbar" aria-hidden="true"></i>  {{ 'Agenda'| trans }}</a></li>
                    <li><a href="{{ 'http://www.maisondeparfumberry.com/fr/'| trans }}" target="_blank" class="linkNavbar"><i class="fa fa-shopping-basket fa-1x linkNavbar" aria-hidden="true"></i>  {{ 'Maison de parfum Berry'| trans }}</a></li>
                    <li class="dropdown">
                        <li class="btn btn-lg linkNavbar dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ 'Langues'| trans }}
                            <span class="caret"></span>
                        </li>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ path('index', {'_locale':'fr'}) }}">Français</a></li>
                            <li><a href="{{ path('index', {'_locale':'en'}) }}">English</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ 'https://corpo35.slack.com/'| trans }}" target="_blank" class="linkNavbar"><i class="fa fa-address-book fa-1x linkNavbar" aria-hidden="true"></i>Chat</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        {% if is_granted ('ROLE_ADMIN') %}
                            <li><a href="{{ path('candidat_index') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Administration</a></li>
                        {% endif %}
                        {% if is_granted ('ROLE_JURY') %}
                            <li><a href="{{ path('backJury') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Jury</a></li>
                        {% endif %}
                        {% if is_granted ('ROLE_PARTENAIRE') %}
                            <li><a href="{{ path('backPartenaire') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> {{ 'Partenaires'| trans }}</a></li>
                        {% endif %}
                        {% if is_granted ('ROLE_ISIPCA') %}
                             <li><a href="{{ path('backIsipca') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Isipca</a></li>
                        {% endif %}
                        {% if is_granted ('ROLE_USER') and app.user.candidat.id is defined %}
                            <li><a href="{{ path('candidat_edit', { 'id': app.user.candidat.id }) }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Editer mon profil</a></li>
                        {% endif %}
                        {% if is_granted ('ROLE_USER') %}
                            <li><a href="{{ path('fos_user_security_logout') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> {{ 'Se déconnecter'| trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i>  {{ 'Se connecter'| trans }}</a></li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-offset-4 col-xs-4">
                        <a href="{{ path('index') }}"><img src="{{ asset('images/CORPO35_LOGOTYPE.png') }}" class="img-responsive center-block logoHeader" alt="Logo Corpo35"></a>
                    </div>
                </div>
            </div>
    </header>

    <!-- Navbar 2 -->
    <div class="nav2">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="row nav navbar">
                        <div class="col-xs-offset-1 col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('index') }}"> {{ 'Accueil'| trans }}</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('candidat_new') }}"> {{ 'S\'inscrire'| trans }}</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('candidats_choisis') }}"> {{ 'Candidats'| trans }}</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('blog') }}">Blog</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('promotions') }}">Promotions</a></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    </div>
    <!-- End Navbar 2 -->

    <!-- Header Responsive -->
    <div class="hidden-md hidden-lg">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('index') }}"><img src="{{ asset('images/CORPO35_LOGOTYPE.png') }}" class="img-responsive logoHeaderResponsive" alt="Logo Corpo35"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('candidats_choisis') }}"> {{ 'Candidats'| trans }}</a></li>
                        <li><a href="{{ path('candidat_new') }}"> {{ 'S\'inscrire'| trans }}</a></li>
                        <li><a href="{{ path('promotion_encours') }}">Promotion</a></li>
                        <li><a href="{{ path('blog') }}">Blog</a></li>
                        <li><a href="{{ path('revuedepresse') }}">{{ 'La revue de presse'| trans }}</a></li>
                        <li><a href="{{ path('list_agenda_labo') }}">{{ 'Agenda'| trans }}</a></li>
                        <li><a href="{{ 'https://corpo35.slack.com/'}}" target="_blank">Chat</a></li>
                        <li><a href="{{ path('list_partenaire') }}">{{ 'Partenaires'| trans }}</a></li>
                        <li><a href="{{ 'http://www.maisondeparfumberry.com/fr/'}}" target="_blank">{{ 'Maison de parfum Berry'| trans }}</a></li>
                        <li><a <a href="{{ path('contact') }}">Contact</a></li>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ path('index', {'_locale':'fr'}) }}">Français</a></li>
                            <li><a href="{{ path('index', {'_locale':'en'}) }}">English</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {#<nav class="navbar navbar-default hidden-md hidden-lg">#}
        {#<div class="container-fluid">#}
            {#<!-- Brand and toggle get grouped for better mobile display -->#}
            {#<div class="navbar-header">#}
                {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
                    {#<span class="sr-only">Toggle navigation</span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                {#</button>#}
                {#<a class="navbar-brand" href="#">Brand</a>#}
            {#</div>#}

            {#<!-- Collect the nav links, forms, and other content for toggling -->#}
            {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                {#<ul class="nav navbar-nav">#}
                    {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                    {#<li><a href="#">Link</a></li>#}
                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="#">Action</a></li>#}
                            {#<li><a href="#">Another action</a></li>#}
                            {#<li><a href="#">Something else here</a></li>#}
                            {#<li role="separator" class="divider"></li>#}
                            {#<li><a href="#">Separated link</a></li>#}
                            {#<li role="separator" class="divider"></li>#}
                            {#<li><a href="#">One more separated link</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                {#</ul>#}
                {#<form class="navbar-form navbar-left">#}
                    {#<div class="form-group">#}
                        {#<input type="text" class="form-control" placeholder="Search">#}
                    {#</div>#}
                    {#<button type="submit" class="btn btn-default">Submit</button>#}
                {#</form>#}
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li><a href="#">Link</a></li>#}
                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="#">Action</a></li>#}
                            {#<li><a href="#">Another action</a></li>#}
                            {#<li><a href="#">Something else here</a></li>#}
                            {#<li role="separator" class="divider"></li>#}
                            {#<li><a href="#">Separated link</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                {#</ul>#}
            {#</div><!-- /.navbar-collapse -->#}
        {#</div><!-- /.container-fluid -->#}
    {#</nav>#}