{% extends 'FrontBundle:Default:layout.html.twig' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/headerStyle.css') }}">
{% endblock %}

{% block header %}
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('contact') }}" class="linkNavbar"><i class="fa fa-envelope-o fa-1x linkNavbar" aria-hidden="true"></i> Contact</a></li>
                    <li><a href="#" class="linkNavbar"><i class="fa fa-handshake-o fa-1x linkNavbar" aria-hidden="true"></i> Partenaires</a></li>
                    <li><a href="#" class="linkNavbar"><i class="fa fa-newspaper-o fa-1x linkNavbar" aria-hidden="true"></i> La revue de presse</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                        {% if is_granted ('ROLE_ADMIN') %}
                            <li><a href="{{ path('backIndex') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Administration</a></li>
                            <li><a href="{{ path('backJury') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Jury</a></li>
                            <li><a href="{{ path('backPartenaire') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Partenaires</a></li>
                        {% elseif is_granted ('ROLE_JURY') %}
                            <li><a href="{{ path('backJury') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Jury</a></li>
                        {% elseif is_granted ('ROLE_PARTENAIRE') %}
                            <li><a href="{{ path('backPartenaire') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Partenaires</a></li>
                        {% endif %}

                        {% if is_granted ('ROLE_ADMIN') %}
                            <li><a href="{{ path('fos_user_security_logout') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Se déconnecter</a></li>
                        {% elseif is_granted ('ROLE_JURY') %}
                            <li><a href="{{ path('fos_user_security_logout') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Se déconnecter</a></li>
                        {% elseif is_granted ('ROLE_PARTENAIRE') %}
                            <li><a href="{{ path('fos_user_security_logout') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Se déconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}" class="linkNavbar"><i class="fa fa-user fa-1x linkNavbar" aria-hidden="true"></i> Se connecter</a></li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-offset-4 col-xs-4">
                        <img src="{{ asset('images/logocorpo.png') }}" class="img-responsive center-block logoHeader" alt="Logo Corpo35">
                    </div>
                </div>
            </div>
    </header>

    <!-- Navbar 2 -->
    <div class="nav2">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="row nav navbar">
                        <div class="col-xs-offset-1 col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('index') }}">Accueil</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('inscription') }}">S'inscrire</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('laureats') }}">Candidats</a></div>
                        <div class="col-xs-2 text-center Navbar2 borderNavbar2"><a class="linkNavbar2" href="{{ path('blog') }}">Blog</a></div>
                        <div class="col-xs-2 dropdown text-center Navbar2">
                            <a href="#" class="dropdown-toggle linkNavbar2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Promotions<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">2016</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('archives') }}">Archives</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <!-- End Navbar 2 -->

{% endblock %}