{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/laureats.css') }}">
{% endblock %}

{% block header %}
    {% include 'FrontBundle:Default:header.html.twig' %}
{% endblock %}

{% block content %}

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Candidats</h2>
                    <hr class="line" style="padding: 0; border: none; border-top: solid 5px; text-align: center; max-width: 250px; margin: 25px auto 30px; color: rgb(51, 51, 51)">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="ogm.html" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <p></p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Ophélien Guigon de Lattre</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Juliette Dubois Espinasse</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Ugo Charron</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Julie Mortreuil</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Ismahen Kahoul</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Jean-Baptiste Darrouzet</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Xavier Blaizot</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Pierre Benard</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Florian Gallo</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Flora Gourdon</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Marie Van Den Zande</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Frédérick Lagarde-Marin</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Adeline Mondeliere</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>VIANDE</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Eleonore de Staël</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Sabah Dihmane</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Fatiha Ouchen</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Vincent Médran-Navarrete</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>VIANDE</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Bérénice Watteau</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Delphine Dentraygues</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Lucie Vienot</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Alban Vauvelle</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>VIANDE</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Wahiba Beloudini</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Anne Dussourt</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Antoinette Annaloro</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Stéphane Deschaintre</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Avana Rakotomanana</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Anatole Lebreton</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Mereyem Khelouani</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Tanguy Guesnet</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Théo Belmas</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Cécile Muller</p>
                            </div>
                        </div>
                        <img src="{{ asset('images/parfum-2.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

<div class="container">
    {% for candidat in listCandidat %}
        <tr>
            <div class="col-md-4">
                <td class="td">{{ candidat.nom }}</td>
            </div>
            <div class="col-md-4">
                <td>{{ candidat.prenom }}</td>
            </div>
        </tr>
    {% endfor %}
</div>

{% endblock %}

{% block footer %}
    {% include 'FrontBundle:Default:footer.html.twig' %}
{% endblock %}