{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/laureats.css') }}">
{% endblock %}

{% block header %}
    {% include 'FrontBundle:Default:header.html.twig' %}
{% endblock %}

{% block content %}

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Classement</h2>
                    <hr class="line" style="padding: 0; border: none; border-top: solid 5px; text-align: center; max-width: 250px; margin: 25px auto 30px; color: rgb(51, 51, 51)">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        {% for candidat in candidatsChoisis %}
                            {% if candidat.classement != null %}
                                <p>{{ candidat.nom }}: {{ candidat.classement }}</p>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Candidats</h2>
                    <hr class="line" style="padding: 0; border: none; border-top: solid 5px; text-align: center; max-width: 250px; margin: 25px auto 30px; color: rgb(51, 51, 51)">
                </div>
            </div>
            <div class="row">
                {% for candidat in candidatsChoisis %}
                    <div class="col-xs-12 col-sm-6 col-lg-4 portfolio-item">
                        <a href="{{ path('page_vitrine_candidat', {'id':candidat.id}) }}" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <p>
                                        {{ candidat.nom }} {{ candidat.prenom }}<br/>
                                        {% if candidat.classement != null %}
                                            {% if candidat.classement == 1 %}
                                                <p>{{ candidat.classement }}er</p>
                                            {% else %}
                                                <p>{{ candidat.classement }}ème</p>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <img src="{{ asset('upload/'~candidat.photo|e) }}" class="img-responsive profil" id="profil" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'FrontBundle:Default:footer.html.twig' %}
{% endblock %}