{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/page_vitrine_candidat_style.css') }}">
{% endblock %}

{% block header %}
    {% include 'FrontBundle:Default:header.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="nomPrenom text-center">{{ candidat.prenom }}<br/>{{ candidat.nom }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img src="{{ asset('upload/' ~ candidat.photo) }}" class="center-block photoProfil img-responsive">
            </div>
            <div class="col-xs-6">
                <div class="row profession">
                    <div class="col-xs-12">
                        <p>{{ candidat.profession }}</p>
                    </div>
                </div>
                <div class="presentation">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="motivationTitre">Présentation</p>
                            <p>{{ candidat.presentation }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>mail: <a href="mailto:{{ candidat.mail }} ">{{ candidat.mail }}</a></p>
                        </div>
                        <div class="col-xs-12">
                            <p>blog: <a href="{{ candidat.blog }}" target="_blank"> {{ candidat.blog }}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 motivation">
                            <p class="motivationTitre">{{ 'Motivations pour le concours'|trans }}</p>
                            <p>{{ candidat.motivation }}</p>
                        </div>
                    </div>
                </div>
                <div class="Logo hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_flacon.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                                <p class="FormationTitre"> {{ 'Formations liées à la parfumerie'| trans }}:</p>
                            {% if candidat.formation is not null %}
                                <p>{{ candidat.formation }}</p>
                                {% else %}
                                <p>{{ 'Ce candidat n\'a pas de formation liée à la parfumerie' | trans}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_testeur.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                                <p class="FormationTitre"> {{ 'Autres formations'| trans }}:</p>
                            {% if candidat.competence is not null %}
                                <p>{{ candidat.competence }}</p>
                            {% else %}
                                <p>{{ 'Ce candidat n\'a pas d\'autre formation'|trans}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_nez.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p class="FormationTitre"> {{ 'CV'| trans }}:</p>
                            {% if candidat.cv is not null %}
                                <p><i class="fa fa-id-card-o" aria-hidden="true"></i><a href="{{ asset('upload/' ~ candidat.cv) }}" target="_blank"> {{ 'Voir son CV'|trans }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="Logo hidden-lg hidden-md">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_testeur.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p class="FormationTitre"> {{ 'Formations liées à la parfumerie:'| trans }}</p>
                            {% if candidat.formation is not null %}
                                <p>{{ candidat.formation }}</p>
                            {% else %}
                                <p>{{ 'Ce candidat n\'a pas de formation liée à la parfumerie' | trans}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_flacon.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p class="FormationTitre"> {{ 'Autres formations:'| trans }}</p>
                            {% if candidat.competence is not null %}
                                <p>{{ candidat.competence }}</p>
                            {% else %}
                                <p>{{ 'Ce candidat n\'a pas d\'autre formation'|trans}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ asset('images/CORPO35_nez.png') }}" class="logoPageVitrine">
                        </div>
                        <div class="col-xs-3">
                            <hr class="separeLogo">
                        </div>
                        <div class="col-xs-6">
                            <p class="FormationTitre"> {{ 'CV:'| trans }}</p>
                            {% if candidat.cv is not null %}
                                <p><i class="fa fa-id-card-o" aria-hidden="true"></i><a href="{{ asset('upload/' ~ candidat.cv) }}" target="_blank"> Voir son CV</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
        <div class="row">
                {% for document in candidat.documents %}
                    {% if document.type == "image" %}
                        <div class="col-xs-4">
                            <img src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive center-block">
                        </div>
                    {% elseif document.type == "vidéo" %}
                        <div class="col-xs-4">
                            <video controls src="{{ asset('upload/' ~ document.contenu) }}" class="img-responsive center-block"></video>
                        </div>
                    {% elseif document.type == "musique" %}
                        <div class="col-xs-4">
                            <audio controls src="{{ asset('upload/' ~ document.contenu) }}" class="center-block"></audio>
                        </div>
                    {% elseif document.type == "pdf" %}
                        <div class="col-xs-4">
                            <a href="{{ asset('upload/' ~ document.contenu) }}" target="_blank" class="text-center">Voir le document</a>
                        </div>
                    {% endif %}
                    {% if document.lien != "" %}
                        <a href="{{ document.lien }}" target="_blank">{{ document.lien }}</a><br/>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'FrontBundle:Default:footer.html.twig' %}
{% endblock %}