{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/partners_style.css') }}">
{% endblock %}

{% block content %}
<div class="container partners">
    <div class="row content">
        <div class="row ">
            <div class="col-md-4">
                <img class="imm-responsive content_left" src="{{ asset('upload/' ~  partenaire.logo )}}" alt="image partenaire 35 rue Damiette"/>
            </div>
            <div class="col-md-8 col-centered">
                <p class="lead text-responsive content_right"><i class="fa fa-quote-left" aria-hidden="true"></i> {{ partenaire.resume }} <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                <p>{{ partenaire.contenu }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 content_center">
                <h5 class="title">{{ partenaire.website }} </h5>
            </div>
            <div class="col-md-4 content_center">
                <h5 class="title">{{ partenaire.email }} </h5>

            </div>
            <div class="col-md-4 content_center">
                <h5 class="title">{{ partenaire.phone }} </h5>

            </div>
        </div>
    </div>
</div>
{% endblock %}





