{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/partners_style.css') }}">
{% endblock %}

{% block content %}
<div class="container partners">
    <div class="row content">
                <div class="row text-center">
                    <div class="col-md-8 col-centered">

                        <h1 class="title-partners">La maison de Parfums</h1><h3 class="background double"><span> « 35 rue Damiette » </span></h3>
                        <p class="resume-partners"><i class="fa fa-quote-left" aria-hidden="true"></i> {{ 'située dans le quartier des Antiquaires à Rouen, est le lieu des expériences olfactives, un lieu de rencontres où l’on vient avec ses souvenirs et ses désirs pour découvrir un parfum, lesien. La boutique propose en exclusivité des fragrances d’exception, des parfums chargés d’histoire, les dernières créations des nez et parfumeurs de renom'| trans }} <i class="fa fa-quote-right" aria-hidden="true"></i></p>

                    </div>
                    <div class="col-md-4">
                        <img class="" src="{{ asset('images/35.jpeg') }}" alt="image partenaire 35 rue Damiette"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 content_center">
                        <h4 class="title"> {{ 'UN VOYAGE VERS L’EXCELLENCE, À FLORENCE'| trans }} </h4>
                        <p class="paragraphe">{{ 'Charles et Cécile Berry, ont ouvert leur Maison de Parfums Berry en 2010, rue Damiette à Rouen en Normandie. Le couple, autodidacte, a un goût prononcé pour les patrimoines olfactifs et culturels, et souhaite mettre en valeur la belle et traditionnelle parfumerie française.'| trans }} </p>
                    </div>
                    <div class="col-md-4 content_center">
                        <h4 class="title"> {{ 'LE LUXE À LA FRANÇAISE'| trans }} </h4>
                        <p class="paragraphe"> {{ 'Les parfums de la Maison Berry sont produits avec des matières premières d\'exception, ce qui leur apportent prestige et élégance. Ils sont produits exclusivement et intégralement en France.'| trans }}</p>
                        <p class="paragraphe">{{ 'Créer un parfum c\'est avant toutune façon intime d\'écrire des émotions, mettre en forme des images, des souvenirs, qui dévoilent peu à peu.'| trans }}</p>
                    </div>
                    <div class="col-md-4 content_center">
                        <h4 class="title"> {{ 'L’ÉLÉGANCE À L’ANGLAISE'| trans }} </h4>
                        <p class="paragraphe"> {{ 'Les parfums de la Maison Berry invitent les "voyageurs" à suivre leurs auteurs à travers les belles matières, une sensibilité originale, un univers unique.'| trans }} <p>
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {{ render(controller('FrontBundle:FrontPartenaire:ShowLogo')) }}
        </div>
    </div>

{% endblock %}


