{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/partners_style.css') }}">
{% endblock %}

{% block content %}

    <div class="container partner">

        <h1 class="partner-nom">{{ partenaire.nom }}</h1>
        <div class="container-fluid">
            <div class="border-bot">

                    <p class="resume">{{ partenaire.resume }}</p>

            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="partner-body">
                        <img class="img" src="{{ asset('upload/' ~  partenaire.logo )}}" alt="image partenaire 35 rue Damiette"/>
                        <p class="partner-content">{{ partenaire.contenu }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row contact">
                        <div class="col-md-12 partner-contact">
                            <a href="{{ partenaire.website }}" target=_blank><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-12  partner-contact">
                           <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i><h5> {{ partenaire.email }} </h5>
                        </div>
                        <div class="col-md-12 partner-contact">
                            <h5><i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                {{ partenaire.phone }} </h5>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>






















{% endblock %}





