{% block stylesheet %}
    <link href="{{ asset('css/partners_style.css')}}" rel="stylesheet">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">

        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <ul id="categories" class="clr">
                <li class="pusher"></li>
                <li>
                    <div>
                        <img class="img-responsive logo" src="{{ asset('images/isipca.png') }}" alt="image partenaire isipca"/>
                        <h1>ISIPCA</h1>
                        <p>PARFUMERIE  COSMETIQUE  AROME</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img class="img-responsive logo" src="{{ asset('images/coptis.png') }}" alt="image partenaire coptis"/>
                        <h1>Coptis</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>
                <li class="pusher"></li>
                <li>
                    <div>
                        <img class="img-responsive logo" src="{{ asset('images/auparfum.png') }}" alt="image partenaire auparfum"/>
                        <h1>Au Parfum</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>

                <li>
                    <div>
                        <img class="img-responsive logo" src="{{ asset('images/ecomundo.jpeg') }}" alt="image partenaire ecomundo"/>
                        <h1>Eco Mundo</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>
                <li class="pusher"></li>
                <li>
                    <div>
                        <img src="https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg" alt=""/>
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>
                <li class="pusher"></li>
                <li>
                    <div>
                        <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt=""/>
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </div>
                </li>
                <li class="pusher"></li>













            </ul>

        </div>
    </div>
</div>




<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

