<div class="container partners">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12 ">


            <div class="row">
                <div class="col-md-6 arrow">
                <img class="" src="{{ asset('images/35.jpeg') }}" alt="image partenaire 35 rue Damiette"/>
                </div>
                <div class="col-md-6">
                    <p>La maison de Parfums « 35 rue Damiette » située dans le quartier des Antiquaires à Rouen, est le lieu des expériences olfactives, un lieu de rencontres où l’on vient avec ses souvenirs et ses désirs pour découvrir un parfum, le
                        sien. La boutique propose en exclusivité des fragrances d’exception, des parfums chargés d’histoire, les dernières créations des nez et parfumeurs de renom.</p>
                </div>
                <div class="col-md-12">
                    <h4>UN VOYAGE VERS L’EXCELLENCE, À FLORENCE AVEC </h4>
                    <P>La gamme de la maison Santa Maria Novella datant de 1612 et dont les cosmétiques, essences et parfums célèbres, sont aujourd’hui encore produits en grande partie selon les formules élaborées au cours du XVIe siècle pour Catherine de Medicis.</P>
                    <h4>LE LUXE À LA FRANÇAISE AVEC </h4>
                    <P>Les parfums Lubin, maison créée en 1798 à Paris et qui, avec L’Eau de Lubin, reçut les faveurs de l’impératrice Joséphine et de la cour impériale mais aussi ORIZA L.Legrand, Houbigant,</P>
                    <P>Les parfums de la maison d’Orsay, fragrances mythiques du chevalier d’Orsay, artiste complet, alchimiste du luxe et de l’élégance aux flacons de cristal de Lalique ou de Baccarat.</P>
                    <P>La gamme de bougies, de bain, et eaux de parfums Jardins d’Écrivains. Les parfums Lalique, Volnay, </P>
                    <h4>L’ÉLÉGANCE À L’ANGLAISE AVEC </h4>
                    <P>Le pointu avec les créations contemporaines de James Heeley, parfumeur et designer anglais.</P>
                    <P>Les parfums Floris, parfumeur de la Reine d’Angleterre et dont les secrets olfactifs sont bien gardés depuis 1730.</P>
                    <P>Ainsi que beaucoup d’autres marques confidentielles.</P>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 ">

            <ul id="hexGrid">

                <li class="hex">
                    <a class="hexIn" href="#">
                        <img class="img-responsive logo" src="{{ asset('images/coptis.jpeg') }}" alt="image partenaire coptis"   class="btn" data-toggle="modal" data-target="#myModal"/>
                        <h5>Coptis</h5>
                        <p>software soutions for Cosmetics R&D</p>/p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">

                        <img class="logo" src="{{ asset('images/auparfum.png') }}" alt="image partenaire auparfum"/>
                        <h5>Au Parfum</h5>
                        <p>Sentez inspiré</p>

                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">
                        <img class="img-responsive logo" src="{{ asset('images/alternative.jpeg') }}" alt="image partenaire alternative"/>
                        <h5>Alternative</h5>
                        <p>Fragrances & Beauty</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">
                        <img class="img-responsive logo" src="{{ asset('images/cosmed.png') }}" alt="image partenaire cosmed"/>
                        <h5>Cosmed</h5>
                        <p>The french Cosmetics Association for SMEs</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">
                        <img class="img-responsive logo" src="{{ asset('images/ecomundo.jpeg') }}" alt="image partenaire ecomundo"/>
                        <h5>Eco Mundo</h5>
                        <p>Innovante, dynamique, experte, réactive </p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">
                        <img src="{{ asset('images/isipca.png') }}" alt="image partenaire isipca"/>
                        <h5>Isipca</h5>
                        <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">
                        <img class="img-responsive logo" src="{{ asset('images/saverglass.jpeg') }}" alt="image partenaire saverglass"/>
                        <h5>SaverGlass</h5>
                        <p>ESPRIT DESIGN</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="#">
                        <img class="img-responsive logo" src="{{ asset('images/IFF.png') }}" alt="image partenaire IFF"/>
                        <h5>IFF</h5>
                        <p>International Flavors & Fragrances</p>
                    </a>
                </li>



            </ul>





        </div>
    </div>


</div>


















<script>

</script>


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

