{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/reglementstyle.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% for reglement in reglement %}
    <div class="container header-title">
        <div class="row big-title">
            <h2>RÈGLEMENT DE PARTICIPATION AU CONCOURS CORPO 35</h2>
        </div>
    </div>
    <div class="container reglement">
        <div class="row title">
            <h3>ARTICLE 1 - Objet</h3>
        </div>
        <div class="row text">
            <p>{{ reglement.paragrapheun }}</p>
        </div>
        <div class="row title">
            <h3>ARTICLE 2 – Modalités de participation au Concours CORPO 35</h3>
        </div>
        <div class="row text">
            {% if  '/http/' in reglement.paragraphedeux %}
                <a href="{{ reglement.paragraphedeux }}" target="_blank">Corpo 35</a>
            {% else %}
            <p>{{ reglement.paragraphedeux }}</p>
            {% endif %}
        </div>
        <div class="row title">
            <h3>ARTICLE 3 - Déroulement du Concours CORPO 35</h3>
        </div>
        <div class="row text">

            <h4>3.1 : Sélection des dossiers de candidature au Concours CORPO 35 :</h4>

            <p>{{ reglement.paragraphetrois }}</p>

            <h4>3.2 : Journée d’intégration des Candidats sélectionnés :</h4>

            <p>{{ reglement.paragraphequatre }}</p>

            <h4>3.3 : Phase de recherche et de création :</h4>

            <p>{{ reglement.paragraphecinq }}</p>

            <h4>3.4 : Finale – Désignation des lauréats :</h4>

            <p>{{ reglement.paragraphesix }}</p>

            <h4>3.5 : Prix - récompenses :</h4>

            <p>{{ reglement.paragraphesix }}</p>
        </div>
        <div class="row title">
            <h3>ARTICLE 4 – Engagement du Candidat</h3>
        </div>
        <div class="row text">

            <h4>4.1 : Comportement du Candidat :</h4>

            <p>Dans le cadre de sa participation au Concours CORPO 35 et à l’issue de celui-ci, le Candidat s’engage à ne rien faire qui
            soit de nature à nuire à l’image de 35 RUE DAMIETTE et/ou de ses Partenaires.

            Le Candidat s’engage à adopter, pendant tout le déroulement du Concours CORPO 35, un comportement loyal, respectueux et
            diligent, en se conformant notamment de manière stricte au présent Règlement ainsi qu’aux consignes d’accès et de sécurité
            qui lui seront communiquées par 35 RUE DAMIETTE et/ou ses Partenaires, dans le cadre de l’utilisation de l’orgue à parfum
            qui lui sera remis, des paillasses du Laboratoire de l’ISIPCA ou de l’accès au logiciel « COPTIS LAB ».

            Les termes « CORPO 35 », déposés à titre de marque française auprès de l’INPI, ne sauraient être utilisés par le Candidat
            sur quelque support de communication que ce soit sans l’accord écrit préalable de 35 RUE DAMIETTE.

            Le Candidat s’engage à s’assurer, préalablement à la présentation de ses travaux à l’Equipe de Pilotage, que lesdits travaux
            ainsi réalisés par lui dans le cadre du présent Concours CORPO 35 sont originaux et libres de droits. Il garantit à première
            demande 35 RUE DAMIETTE contre toute action, réclamation, revendication ou opposition émanant de toute personne prétendant
            que lesdits travaux portent atteinte à ses droits.</p>

            <h4>4.2 : Propriété intellectuelle :</h4>

            <p>En signant le présent Règlement et en participant au Concours CORPO 35 organisé par 35 RUE DAMIETTE, le Candidat accepte
            de céder à 35 RUE DAMIETTE l’ensemble des droits de propriété intellectuelle attachés aux travaux (formule de parfum,
            séquences audio et/ou vidéo, dessins, logos, représentations graphiques, photos, textes, herbiers, etc…) qu’il sera amené
            à réaliser dans ce cadre et à présenter à l’Equipe de Pilotage.


            Cette cession porte notamment sur :

            tous les droits d’exploitation, de reproduction (sur tout support actuel ou futur, connu ou inconnu), de modification,
            d’adaptation, de représentation (sous tous procédés), de commercialisation et d’usage, de la manière la plus large, dans
            le monde entier et pour la durée de protection attachée aux droits de propriété intellectuelle selon le droit français ;

            ainsi que le droit de protéger ou de faire protéger à son profit tout ou partie de ces travaux, que ce soit par des demandes
            de brevet, des dépôts de marque, de dessins et modèles ou par tout autre moyen.

            Compte-tenu des récompenses attribuées aux Candidats telles que visées à l’article 3.5, il est entendu que les droits cédés
            au titre des présentes n’ouvrent pas droit à une contrepartie financière pour le Candidat.</p>

            <h4>4.3 : Exploitation de la formule de parfum originale du Candidat :</h4>

            <p>En signant le présent Règlement et en participant au Concours CORPO 35 organisé par 35 RUE DAMIETTE, le Candidat accepte
            de céder à 35 RUE DAMIETTE l’ensemble des droits dont il dispose sur la formule définitive de parfum qu’il entend soumettre
            à l’Equipe de Pilotage dans le cadre du Concours CORPO 35, telle qu’elle sera enregistrée sur la plateforme du logiciel
            « COPTIS LAB » dont un accès sera mis à sa disposition.

            A ce titre, le Candidat s’interdit d’exploiter lui-même ladite formule (sauf pour les besoins de sa participation
            au Concours CORPO 35) et/ou de la divulguer à quelque tiers que ce soit, tant pendant le déroulement du Concours CORPO
            35 que pendant les dix années qui suivront la proclamation des résultats de celui-ci.

            Le Candidat autorise expressément 35 RUE DAMIETTE à fabriquer, faire fabriquer et/ou commercialiser des parfums utilisant
            ladite formule, sous quelque forme et sous quelque marque que ce soit, sous réserve que ledit parfum soit associé, dans
            le cadre de toute publicité concernant sa promotion et/ou sa distribution, aux prénom(s) et nom(s) du Candidat, en mentionnant, le cas échéant, sa qualité de « Lauréat du Concours CORPO 35 ». Il pourra également être envisagé d’utiliser la proposition de nommage émise par le Candidat pour le parfum issu de sa formule, celui-ci déclarant d’ores et déjà céder à 35 RUE DAMIETTE l’ensemble des droits de propriété intellectuelle afférents à cette proposition de nommage.

            En contrepartie de cette exclusivité d’exploitation de la formule de parfum du Candidat, 35 RUE DAMIETTE reversera à ce
            dernier une rémunération dont le montant hors taxes sera égal à 15 % (quinze pour cent) du  résultat net comptable réalisée
            par 35 RUE DAMIETTE sur la vente des flacons de parfum utilisant ladite formule.



            A l’issue de chaque année civil, 35 RUE DAMIETTE transmettra au Candidat un récapitulatif des ventes des flacons de
            parfum utilisant ladite formule, réalisées au titre de la période ainsi échue, ainsi que le résultat net comptable
            afférent à ces ventes et le montant de la rémunération qui est due au Candidat à ce titre. Le Candidat devra alors adresser
            à 35 RUE DAMIETTE la facture correspondante, conforme aux dispositions des articles L441-3 et L441-6 du Code de commerce,
            qui sera payable dans les 60 jours suivants sa date d’émission.</p>

            <h4>4.4 : Droit à l’image :</h4>

            <p>Le Candidat accorde à 35 RUE DAMIETTE la permission irrévocable de citer les prénom(s) et nom(s) du Candidat sur tous
            documents ayant pour objet de promouvoir le Concours CORPO 35 et les résultats de celui-ci, et ce quel qu’en soit le support
            et le format.

            Le Candidat accorde également à 35 RUE DAMIETTE la permission irrévocable d’associer ses prénom(s) et nom(s) aux travaux
            qu’il a réalisés dans le cadre du Concours CORPO 35 sur les documents ayant pour objet de promouvoir le Concours CORPO 35
            et les résultats de celui-ci, et ce quel qu’en soit le support  et le format.

            Le Candidat autorise 35 RUE DAMIETTE à utiliser gratuitement ses prénom(s) et nom(s) à des fins commerciales et/ou
            publicitaires, dans toute manifestation promotionnelle liée au présent Concours CORPO 35 sans que cette utilisation
            puisse donner lieu à une quelconque contrepartie autre que le prix gagné.

            Le Candidat autorise 35 RUE DAMIETTE à nommer le parfum commercialisé sur la base de sa formule originale par le prénom
            du Candidat ou par tout autre nom choisi par 35 RUE DAMIETTE.

            En signant le présent Règlement et en participant au Concours CORPO 35 organisé par 35 RUE DAMIETTE, le Candidat accepte
            en outre de céder à 35 RUE DAMIETTE l’ensemble des droits à l’image dont il dispose sur les séquences vidéos et les photos
            le représentant réalisées par 35 RUE DAMIETTE et ses Partenaires dans le cadre du déroulement du Concours CORPO 35, afin  :

            de présenter individuellement et collectivement le profil des Candidats, leurs parcours et les motivations qui les ont
            respectivement amenés à participer au Concours CORPO 35 ;

            de suivre au jour le jour les différentes étapes du travail de recherche de création du Candidat ;

            de suivre la proclamation des résultats du Concours CORPO 35 et la remise des prix aux Candidats Lauréats.




            Ces présentations, dont l’objectif est présenter chacun des Candidats et de valoriser leur image, tant auprès du grand
            public que des professionnels du secteur de la parfumerie, ont notamment vocation à être diffusées sur les sites internet
            respectifs de 35 RUE DAMIETTE et ses Partenaires, ainsi que sur les pages dédiées au Concours CORPO 35 ouvertes par
            35 RUE DAMIETTE sur les réseaux sociaux (Facebook, Twitter, etc.), afin de promouvoir le Concours CORPO 35 et d’en développer
            la notoriété auprès du public. Ces présentations pourront en outre être diffusées à l’occasion de la proclamation des
            résultats du Concours CORPO 35.

            La présente concession de droit à l’image est consentie par le Candidat à 35 RUE DAMIETTE pour le monde entier et pendant
            une durée indéterminée, sans aucune contrepartie financière.</p>

            <h4>4.5 : Informatique et libertés :</h4>

            <p>Pour les besoins de l’organisation du présent Concours CORPO 35, 35 RUE DAMIETTE est amenée à collecter auprès du Candidat
            les informations et les données à caractère personnel (nom, adresse, etc…) nécessaires pour lui permettre d’enregistrer sa
            participation, de l’identifier et de le contacter.

            Les informations communiquées au cours du Concours CORPO 35 feront donc l’objet d’un traitement informatique uniquement
            destiné à l’organisation et/ou la gestion de celui-ci et ne seront pas conservées à son issue.

            La collecte et le traitement des données nominatives ou à caractère personnel susvisées ont fait préalablement l’objet
            d’une déclaration par 35 RUE DAMIETTE auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL).

            Conformément à la Loi n°78-16 du 6 janvier 1978 relative à l’Informatique, aux fichiers et aux libertés, le Candidat dispose
            d'un droit d'accès, de rectification, de modification et de suppression de ses données personnelles, qu’il peut exercer à
            tout moment sur simple demande email à l’adresse : contact@35ruedamiette.com

            Les données collectées sont obligatoires pour participer au Concours CORPO 35. Par conséquent, les Candidats qui exerceront
            le droit de suppression des données les concernant avant la fin du Concours CORPO 35 seront réputés renoncer à leur
            participation.
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 5 - Modification, suspension, interruption</h3>
        </div>
        <div class="row text">
            <p>
                La responsabilité de 35 RUE DAMIETTE ne saurait être engagée en cas de survenance d’un évènement, cas
                fortuit ou de force majeure, venant empêcher l’organisation et où la poursuite du présent Concours CORPO 35.
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 6 - Loi applicable et attribution de juridiction</h3>
        </div>
        <div class="row text">
            <p>
                Le Candidat admet sans réserve que le simple fait de participer au Concours CORPO 35 le soumet obligatoirement
                aux lois françaises, notamment pour tout litige qui viendrait à naître du fait du Concours CORPO 35
                ou qui serait directement ou indirectement lié à celui-ci ce, sans préjudice des éventuelles règles de
                conflits de lois  pouvant exister.

                Tout différend né à l’occasion du Concours CORPO 35 fera l’objet d’une tentative de règlement à l’amiable
                entre de 35 RUE DAMIETTE et le Candidat. A défaut d’accord, le litige sera soumis aux juridictions compétentes
                conformément aux dispositions du Code de Procédure Civile.
            </p>
        </div>
        <div class="btn-pdf">
            <a class="btn btn-reglement text-center" href="{{ path('reglement_pdf') }}">Télécharger le PDF</a>
        </div>
    </div>

    {% endfor %}
{% endblock %}