{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/revuedepresse.css') }}">
{% endblock %}

{% block content %}
    {% for Rpresse in listRpresse %}
    <div class="wrap">
        <div class="col-md-4">
            <div class="tile">
                <img src="{{ asset('upload/'~Rpresse.document|e) }}" class="img-responsive profil" alt="">
                <div class="text">
                    <h1 class="animate-text" style="color: white">{{ Rpresse.date|date('Y') }}</h1>
                    <h2 class="animate-text" style="color: white">{{ Rpresse.source }}</h2>
                    <p class="animate-text" style="color: white">{{ Rpresse.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
