{% extends 'BackBundle:Default:backHeader.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
    <div class="container admin">
    <h1 class="text-center">Liste des utilisateurs</h1>
    <div class="row text-center">
        <div class="col-xs-12">
            <p>ROLE_USER: Inscrits au site, dont les candidats</p>
        </div>
        <div class="col-xs-12">
            <p>ROLE_ADMIN: Administrateur du site, qui a les droits pour voter, valider un candidat, établir le classement
                Peut egalement administrer le blog, la revue de presse etc...
            </p>
        </div>
        <div class="col-xs-12">
            <p>ROLE_JURY: jury du concours, qui ont les droits pour voter</p>
        </div>
        <div class="col-xs-12">
            <p>ROLE_PARTENAIRE: A les droits pour créer sa page partenaire</p>
        </div>
        <div class="col-xs-12">
            <p>ROLE_ISIPCA: A les droits pour modifier l'agenda du Labo</p>
        </div>
    </div>


    {% for user in users |sortbyfield('id') %}
        <h2>Articles  / <a href="{{ path('user_edit', { 'id': user.id }) }}">Changer le rôle</a></h2>

        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}

        <a href="{{ path('backHeader') }}"><input type="button" class="btn btn-primary center-block" value="Retour à l'espace d'administration" ></a>

        </div>

{% endblock %}
