{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
    {% form_theme edit_form'bootstrap_3_layout.html.twig' %}

<div class="container admin">
    <h2>Rpresse / <a href="{{ path('rpresse_index') }}">retour à la liste</a></h2>
    <h2 style="font-size: 1.5em">Nota bene : Privilégiez des photos carré de moins de 2Mo / <br />
        Si la source est une vidéo mettre le lien de cette vidéo. <br />
        Attention quand on édite on doit remettre la photo.
    </h2>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form) }}
    <button class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
    {{ form_end(edit_form) }}



    {{ form_start(delete_form) }}
    <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    {{ form_end(delete_form) }}

 </div>

{% endblock %}
