{% extends 'BackBundle:Default:backLayout.html.twig' %}

    {% block stylesheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/back.css') }}">
    {% endblock %}

    {% block content %}

        <div class="container admin">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-grey">
                    <h2>Revue de presse / <a href="{{ path('rpresse_index') }}">retour à la liste </a> /  <a href="{{ path('rpresse_edit', { 'id': rpresse.id }) }}">éditer</a></h2>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Source</th>
                        <th>Description</th>
                        <th>Document</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{% if rpresse.date %}{{ rpresse.date|date('Y-m-d') }}{% endif %}</td>
                        <td><img src="{{ asset('upload/'~rpresse.document|e) }}" class="img-responsive profil" alt=""></td>
                        <td>{{ rpresse.description }}</td>
                        <td>{{ rpresse.document }}</td>
                        <td>
                            {{ form_start(delete_form) }}
                            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>


        <script>

        </script>

    {% endblock %}




