{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partenaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Resume</th>
                <th>Website</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Contenu1</th>
                <th>Contenu2</th>
                <th>Contenu3</th>
                <th>Contenu4</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td><a href="{{ path('partenaire_show', { 'id': partenaire.id }) }}">{{ partenaire.id }}</a></td>

                    <td>{% if partenaire.image %}<img src="{{ asset('upload/' ~ partenaire.image) }} " class="img-responsive" alt=""/>{% endif %}</td>
                    <td>{{ partenaire.resume }}</td>
                    <td>{{ partenaire.website }}</td>
                    <td>{{ partenaire.email }}</td>
                    <td>{{ partenaire.phone }}</td>
                    <td>{{ partenaire.contenu1 }}</td>
                    <td>{{ partenaire.contenu2 }}</td>
                    <td>{{ partenaire.contenu3 }}</td>
                    <td>{{ partenaire.contenu4 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partenaire_show', { 'id': partenaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partenaire_new') }}">Create a new partenaire</a>
        </li>
    </ul>
{% endblock %}
