{% extends 'BackBundle:Default:backHeader.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
<div class="container admin">

    <h2>Partenaires / <a class="text-right" href="{{ path('partenaire_new') }}">créer un partenaire </a></h2>

    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Résumé</th>
                <th>Logo</th>
                <th>Contenu</th>
                <th>Website</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for partenaire in partenaires %}
            <tbody>
            <tr>
                <td>{{ partenaire.nom }}</td>
                <td>{{ partenaire.resume | truncate(100, true, "...") }}</td>
                <td>{{ partenaire.logo }}</td>
                <td>{{ partenaire.contenu | truncate(100, true, "...") }}</td>
                <td>{{ partenaire.website }}</td>
                <td>{{ partenaire.email }}</td>
                <td>{{ partenaire.phone }}</td>
                <td>
                    <a href="{{ path('partenaire_show', { 'id': partenaire.id }) }}) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>
                    <a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
