{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>{{ 'Création des partenaires'| trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Créer'| trans }}" />
    {{ form_end(form) }}

    <a  href="{{ path('index') }}">{{ 'Retour au site'| trans }}</a>
{% endblock %}
