{% extends 'BackBundle:Default:backHeader.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}

    <div class="container admin">

        <h2>Partenaire /  <a href="{{ path('partenaire_index') }}">retour à la liste</a></h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'Créer'| trans }}" />
        {{ form_end(form) }}

    </div>

{% endblock %}


{#<a  href="{{ path('index') }}">{{ 'retour au site'| trans }}</a>#}