{% extends 'BackBundle:Default:backHeader.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block content %}
<div class="container admin">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-grey">
            <h2>Partenaire / <a href="{{ path('partenaire_index') }}">retour à la liste </a> /  <a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">éditer</a></h2>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Photo</th>
                <th>Téléphone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ partenaire.nom }}</td>
                <td>{{ partenaire.logo }}</td>
                <td>{{ partenaire.resume }}</td>
                <td>{{ partenaire.website }}</td>
                <td>{{ partenaire.email }}</td>
                <td>{{ partenaire.phone }}</td>
                <td>
                    {{ form_start(delete_form) }}
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    {{ form_end(delete_form) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
