{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partenaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ partenaire.logo }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ partenaire.resume }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ partenaire.contenu }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ partenaire.website }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ partenaire.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ partenaire.phone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partenaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
