{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partenaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ partenaire.image }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ partenaire.resume }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ partenaire.website }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ partenaire.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ partenaire.phone }}</td>
            </tr>
            <tr>
                <th>Contenu1</th>
                <td>{{ partenaire.contenu1 }}</td>
            </tr>
            <tr>
                <th>Contenu2</th>
                <td>{{ partenaire.contenu2 }}</td>
            </tr>
            <tr>
                <th>Contenu3</th>
                <td>{{ partenaire.contenu3 }}</td>
            </tr>
            <tr>
                <th>Contenu4</th>
                <td>{{ partenaire.contenu4 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partenaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
