<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="Content-Language" content="fr-en">
            <meta name="description" content="Site du concours de parfum Corpo35, créé par 35 rue Damiette" />
            <meta name="keywords" content="parfum, concours, Corpo35 " />
            <meta name="robots" content="all" />
        {% endblock %}

        {% block title %}
        <title>Corpo 35 - Concours</title>
        {% endblock %}

        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css')}}">
            <link href="{{ asset('css/globalStyle.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{  asset('css/fonts.css') }}">
        {% endblock %}

        {% block JS %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('images/CORPO35_LOGOTYPE.png') }}" />

    </head>
    <body>
        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
